<%- breadcrumb %>
<div class="card">
    <div class="lv-header-alt clearfix">
        <h2 class="lvh-label hidden-xs"><%- title %></h2>
        <ul class="lv-actions actions">
            <li>
                <button class="btn btn-danger btn-block waves-effect" id="btn-create-brand" name="btn-create-brand"
                    data-toggle="modal" href="#modal_create_brand" type="button">
                    Thêm nhãn hiệu
                </button>
            </li>
            <li>
                <button class="btn btn-primary btn-block waves-effect" id="btn-create-restaurant"
                    name="btn-create-restaurant" data-toggle="modal" href="#modal_create_restaurant" type="button">
                    Thêm nhà hàng
                </button>
            </li>
            <li class="hidden" id="li-hidden">
                <a role="button" data-toggle="tooltip" data-placement="top" data-original-title="Xóa các mục đánh dấu"
                    id="btn-delSelection">
                    <i class="zmdi zmdi-delete"></i>
                </a>
            </li>
        </ul>
    </div>

    <div class="row">
        <div class="col-sm-3 col-md-3 p-l-20 p-r-0">
            <div class="bg-black-trp text-center p-10 m-b-5 ">Nhãn hiệu</div>
            <div class="input-group m-b-5">
                <input class="form-control filter" type="text" id="searchBrand" name="searchBrand">
                <span class="input-group-addon p-l-10 bgm-gray c-white">
                    <i role="button" class="zmdi zmdi-search"></i>
                </span>
            </div>

            <ul class="list-group list-result-filter" id="listBrand">
                <% for(var i = 0; i < data.brands.length; i++) {%>
                <li class="list-group-item <%-classNameByStatus(data.brands[i].status)%>" id="<%- data.brands[i]._id %>">
                    <span><%- data.brands[i].name%></span>
                    <i class="fa fa-pencil pull-right edit" data-json='<%- encodeURIComponent(JSON.stringify(data.brands[i])) %>'></i>
                </li>
                <%}%>
            </ul>

        </div>
        <div class="col-sm-3 col-md-3 p-l-20 p-r-0">
            <div class="bg-black-trp text-center p-10 m-b-5 ">Khu vực</div>
            <input class="form-control filter" type="text" id="searchArea" name="searchArea" disabled>

            <ul class="list-group list-result-filter" id="listArea">
               
            </ul>

        </div>
        <div class="col-sm-3 col-md-3 p-l-20 p-r-0">
            <div class="bg-black-trp text-center p-10 m-b-5 ">Tỉnh thành</div>
            <div class="input-group m-b-5">
                <input class="form-control filter" type="text" id="searchProvince" name="searchProvince">
                <span class="input-group-addon p-l-10 bgm-gray c-white">
                    <i role="button" class="zmdi zmdi-search"></i>
                </span>
            </div>

            <ul class="list-group list-result-filter" id="listProvince">

            </ul>

        </div>
        <div class="col-sm-3 col-md-3 p-l-20 p-r-20">
            <div class="bg-black-trp text-center p-10 m-b-5 ">Nhà hàng</div>
            <div class="input-group m-b-5">
                <input class="form-control filter" type="text" id="searchRestaurant" name="searchRestaurant">
                <span class="input-group-addon p-l-10 bgm-gray c-white">
                    <i role="button" class="zmdi zmdi-search"></i>
                </span>
                
            </div>

            <ul class="list-group list-result-filter" id="listRestaurant"></ul>

        </div>
    </div>

</div>

<div class="modal fade" id="modal_create_brand" tabindex="-1" role="dialog" aria-hidden="true">
    <form class="form-horizontal m-t-30" id="form-create-brand">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Tạo mới nhãn hiệu</h4>
                    <div class="text-center" id="ticket-total"></div>
                </div>
                <div class="modal-body">
                    <div class="card-body" style="overflow-y: auto;overflow-x: hidden; max-height: 350px;">
                        <div class="form-group">
                            <label for="modal_create_brand_name" class="col-sm-3 control-label">Nhãn hiệu<span class="required">*</span>:</label>
                            <div class="col-sm-8">
                                <div class="fg-line">
                                    <input type="text" value=""
                                        class="form-control input-sm required"
                                        id="modal_create_brand_name" name="modal_create_brand_name">
                                </div>
                                <div class="p-t-5 p-b-5 text-danger validate-message" id="modal_create_brand_name_validate">Trường này bắt buộc</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="modal_status" class="col-sm-3 control-label">Trạng thái:</label>
                            <div class="col-sm-8">
                                <div class="toggle-switch">
                                    <input id="modal_create_brand_status" type="checkbox" hidden="hidden" checked>
                                    <label for="modal_create_brand_status" class="ts-helper"></label>
                                    <strong class="m-l-20">
                                        <span id="modal_create_brand_status_text"></span>
                                    </strong>
                                </div>
                            </div>
                        </div>
                        <div class="text-center col-sm-12 col-md-12 text-center">
                            <button type="submit" class="btn btn-primary waves-effect"
                                    id="btnCreateBrand">
                                Xác nhận
                            </button>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="modal_update_brand" tabindex="-1" role="dialog" aria-hidden="true">
    <form class="form-horizontal m-t-30" id="form-update-brand">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Sửa nhãn hiệu</h4>
                    <div class="text-center" id="ticket-total"></div>
                </div>
                <div class="modal-body">
                    <div class="card-body" style="overflow-y: auto;overflow-x: hidden; max-height: 350px;">
                        <input type="hidden" id="modal_update_brand_ID" name="modal_update_brand_ID">
                        <div class="form-group">
                            <label for="modal_update_brand_name" class="col-sm-3 control-label">Nhãn hiệu<span class="required">*</span>:</label>
                            <div class="col-sm-8">
                                <div class="fg-line">
                                    <input type="text" value=""
                                        class="form-control input-sm required"
                                        id="modal_update_brand_name" name="modal_update_brand_name">
                                </div>
                                <div class="p-t-5 p-b-5 text-danger validate-message" id="modal_update_brand_name_validate">Trường này bắt buộc</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="modal_status" class="col-sm-3 control-label">Trạng thái:</label>
                            <div class="col-sm-8">
                                <div class="toggle-switch">
                                    <input id="modal_update_brand_status" type="checkbox" hidden="hidden" checked>
                                    <label for="modal_update_brand_status" class="ts-helper"></label>
                                    <strong class="m-l-20">
                                        <span id="modal_update_brand_status_text"></span>
                                    </strong>
                                </div>
                            </div>
                        </div>
                        <div class="text-center col-sm-12 col-md-12 text-center" id="frmUpdateBrand">
                            <button type="submit" class="btn btn-primary waves-effect"
                                    id="btnUpdateBrand">
                                Xác nhận
                            </button>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="modal_create_restaurant" tabindex="-1" role="dialog" aria-hidden="true">
    <form class="form-horizontal m-t-30" id="form-create-brand">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Tạo mới nhà hàng</h4>
                    <div class="text-center" id="ticket-total"></div>
                </div>
                <div class="modal-body">
                    <div class="card-body" style="overflow-y: auto;overflow-x: hidden; max-height: 350px;">

                        <div class="row form-group">
                            <label for="modal_create_restaurant_name" class="col-sm-3 control-label">Nhà hàng<span class="required">*</span>:</label>
                            <div class="col-sm-9">
                                <div class="fg-line">
                                    <input type="text" value=""
                                        class="form-control input-sm required"
                                        id="modal_create_restaurant_name" name="modal_create_restaurant_name">
                                </div>
                                <div class="p-t-5 p-b-5 text-danger validate-message" id="modal_create_restaurant_name_validate">Trường này bắt buộc</div>
                            </div>
                        </div>

                        <div class="row form-group">
                            <label for="modal_create_restaurant_code" class="col-sm-3 control-label">ID nhà hàng<span class="required">*</span>:</label>
                            <div class="col-sm-9">
                                <div class="fg-line">
                                    <input type="text" value=""
                                        class="form-control input-sm required"
                                        id="modal_create_restaurant_code" name="modal_create_restaurant_code">
                                </div>
                                <div class="p-t-5 p-b-5 text-danger validate-message" id="modal_create_restaurant_code_validate">Trường này bắt buộc</div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-3 p-r-0">
                                <label for="modal_create_restaurant_tag" class="control-label">SBU   <span class="required">*</span>:</label>
                                <input type="text" value="" class="form-control input-sm required"
                                    id="modal_create_restaurant_tag" name="modal_create_restaurant_tag">
                                <div class="p-t-5 p-b-5 text-danger validate-message" id="modal_create_restaurant_tag_validate">Trường này bắt buộc</div>
                            </div>
                            <div class="col-md-3 p-r-0">
                                <label for="modal_create_restaurant_idBrand" class="control-label">Chọn nhãn hiệu<span class="required">*</span>:</label>
                                <select id="modal_create_restaurant_idBrand" class="form-control input-sm required" name="modal_create_restaurant_idBrand">
                                    <option value='' selected>---- Chọn ----</option>
                                <% for(var i = 0; i < data.brands.length; i++) {%>
                                    <% if(data.brands[i].status == 1) {%>
                                    <option class="list-group-item" value="<%- data.brands[i]._id %>">
                                        <%- data.brands[i].name%>
                                    </option>
                                    <% }%>
                                <%}%>
                                </select>
                                <div class="p-t-5 p-b-5 text-danger validate-message" id="modal_create_restaurant_idBrand_validate">Trường này bắt buộc</div>
                            </div>
                            <div class="col-md-3 p-r-0">
                                <label for="modal_create_restaurant_area" class="control-label">Chọn khu vực<span class="required">*</span>:</label>
                                    <select id="modal_create_restaurant_area" class="form-control input-sm required" name="modal_create_restaurant_area">
                                        <option value='' selected>---- Chọn ----</option>
                                    <% for(var i = 0; i < areas.length; i++) {%>
                                        <option class="list-group-item" value="<%- areas[i].value %>">
                                            <%- areas[i].name%>
                                        </option>
                                    <%}%>
                                    </select>
                                <div class="p-t-5 p-b-5 text-danger validate-message" id="modal_create_restaurant_area_validate">Trường này bắt buộc</div>
                            </div>
                            <div class="col-md-3">
                                <label for="modal_create_restaurant_idProvince" class="control-label">Chọn tỉnh thành<span class="required">*</span>:</label>
                                <select id="modal_create_restaurant_idProvince" class="form-control input-sm required" name="modal_create_restaurant_idProvince">
                                    <option value='' selected>---- Chọn ----</option>
                                </select>
                                <div class="p-t-5 p-b-5 text-danger validate-message" id="modal_create_restaurant_idProvince_validate">Trường này bắt buộc</div>
                            </div>
                        </div>

                        <div class="row form-group">
                            <label for="modal_status" class="col-sm-3 control-label">Trạng thái:</label>
                            <div class="col-sm-8">
                                <div class="toggle-switch">
                                    <input id="modal_create_restaurant_status" type="checkbox" hidden="hidden" checked>
                                    <label for="modal_create_restaurant_status" class="ts-helper"></label>
                                    <strong class="m-l-20">
                                        <span id="modal_create_restaurant_status_text"></span>
                                    </strong>
                                </div>
                            </div>
                        </div>
                        <div class="text-center col-sm-12 col-md-12 text-center">
                            <button type="submit" class="btn btn-primary waves-effect"
                                    id="btnCreateRestaurant">
                                Xác nhận
                            </button>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </form>
</div>


<div class="modal fade" id="modal_update_restaurant" tabindex="-1" role="dialog" aria-hidden="true">
    <form class="form-horizontal m-t-30" id="form-update-brand">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Sửa nhà hàng</h4>
                    <div class="text-center" id="ticket-total"></div>
                </div>
                <div class="modal-body">
                    <div class="card-body" style="overflow-y: auto;overflow-x: hidden; max-height: 350px;">
                        <input type="hidden" id="modal_update_restaurant_ID" name="modal_update_restaurant_ID">
                        

                        <div class="form-group">
                            <label for="modal_update_restaurant_name" class="col-sm-3 control-label">Nhà hàng<span class="required">*</span>:</label>
                            <div class="col-sm-8">
                                <div class="fg-line">
                                    <input type="text" value=""
                                        class="form-control input-sm required"
                                        id="modal_update_restaurant_name" name="modal_update_restaurant_name">
                                </div>
                                <div class="p-t-5 p-b-5 text-danger validate-message" id="modal_update_restaurant_name_validate">Trường này bắt buộc</div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="modal_update_restaurant_code" class="col-sm-3 control-label">ID nhà hàng<span class="required">*</span>:</label>
                            <div class="col-sm-8">
                                <div class="fg-line">
                                    <input type="text" value=""
                                        class="form-control input-sm required"
                                        id="modal_update_restaurant_code" name="modal_update_restaurant_code">
                                </div>
                                <div class="p-t-5 p-b-5 text-danger validate-message" id="modal_update_restaurant_code_validate">Trường này bắt buộc</div>
                            </div>
                        </div>
                        
                        
                        <div class="row form-group">
                            <div class="col-md-3 p-r-0">
                                <label for="modal_update_restaurant_tag" class="control-label">SBU<span class="required">*</span>:</label>
                                <input type="text" value="" class="form-control input-sm required"
                                    id="modal_update_restaurant_tag" name="modal_update_restaurant_tag">
                                <div class="p-t-5 p-b-5 text-danger validate-message" id="modal_update_restaurant_tag_validate">Trường này bắt buộc</div>
                            </div>
                            <div class="col-md-3 p-r-0">
                                <label for="modal_update_restaurant_idBrand" class="control-label">Chọn nhãn hiệu<span class="required">*</span>:</label>
                                <select id="modal_update_restaurant_idBrand" class="form-control input-sm required" name="modal_update_restaurant_idBrand">
                                    <option value='' selected>---- Chọn ----</option>
                                <% for(var i = 0; i < data.brands.length; i++) {%>
                                    <% if(data.brands[i].status == 1) {%>
                                    <option class="list-group-item" value="<%- data.brands[i]._id %>">
                                        <%- data.brands[i].name%>
                                    </option>
                                    <% } %>
                                <%}%>
                                </select>
                                <div class="p-t-5 p-b-5 text-danger validate-message" id="modal_update_restaurant_idBrand_validate">Trường này bắt buộc</div>
                            </div>
                            <div class="col-md-3 p-r-0">
                                <label for="modal_update_restaurant_area" class="control-label">Chọn khu vực<span class="required">*</span>:</label>
                                    <select id="modal_update_restaurant_area" class="form-control input-sm required" name="modal_update_restaurant_area">
                                        <option value='' selected>---- Chọn ----</option>
                                    <% for(var i = 0; i < areas.length; i++) {%>
                                        <option class="list-group-item" value="<%- areas[i].value %>">
                                            <%- areas[i].name%>
                                        </option>
                                    <%}%>
                                    </select>
                                <div class="p-t-5 p-b-5 text-danger validate-message" id="modal_update_restaurant_area_validate">Trường này bắt buộc</div>
                            </div>
                            <div class="col-md-3">
                                <label for="modal_update_restaurant_idProvince" class="control-label">Chọn tỉnh thành<span class="required">*</span>:</label>
                                <select id="modal_update_restaurant_idProvince" class="form-control input-sm required" name="modal_update_restaurant_idProvince">
                                    <option value='' selected>---- Chọn ----</option>
                                </select>
                                <div class="p-t-5 p-b-5 text-danger validate-message" id="modal_update_restaurant_idProvince_validate">Trường này bắt buộc</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="modal_status" class="col-sm-3 control-label">Trạng thái:</label>
                            <div class="col-sm-8">
                                <div class="toggle-switch">
                                    <input id="modal_update_restaurant_status" type="checkbox" hidden="hidden" checked>
                                    <label for="modal_update_restaurant_status" class="ts-helper"></label>
                                    <strong class="m-l-20">
                                        <span id="modal_update_restaurant_status_text"></span>
                                    </strong>
                                </div>
                            </div>
                        </div>
                        <div class="text-center col-sm-12 col-md-12 text-center">
                            <button type="submit" class="btn btn-primary waves-effect"
                                    id="btnUpdateRestaurant">
                                Xác nhận
                            </button>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </form>
</div>