<%-breadcrumb%>
<script>
    var campaignAgents = JSON.parse('<%- JSON.stringify(agents)%>');
</script>
<div class="card">
    <div class="card-header">
        <h2 class="m-b-5"><%- title %></h2>
        <small class="text-muted"><i>Những trường có dấu <span class="c-red">*</span> là bắt buộc nhập. </i></small>
    </div>
    <div class="card-body card-padding">
        <form role="form" class="form-horizontal" id="edit-campaign">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">Tên chiến dịch <span class="required">*</span></label>
                <div class="col-sm-6">
                    <div class="fg-line">
                        <input type="text" value="<%- cur.name %>" class="form-control input-sm validate[required,ajax[EditCheck]]" id="name" name="name">
                        <input type="hidden" value="<%- cur._id %>" id="updateId">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">Chú thích </label>
                <div class="col-sm-6">
                    <div class="fg-line">
                        <input type="text" value="<%- cur.note %>" class="form-control input-sm" id="note" name="note">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">Ngày bắt đầu<span class="required">*</span></label>
                <div class="col-sm-6">
                    <div class="fg-line">
                        <div class="input-group">
                            <input value="<%- (cur.startDate ? _moment(cur.startDate).format("MM/DD/YYYY h:mm a") : '') %>" class="form-control date-time-picker validate[required]" type="text" id="startDate" name="startDate">
                            <span class="input-group-addon p-l-10 bgm-gray c-white">
                                <i role="button" class="zmdi zmdi-calendar"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">Ngày kết thúc<span class="required">*</span></label>
                <div class="col-sm-6">
                    <div class="fg-line">
                        <div class="input-group">
                            <input value="<%- (cur.endDate ? _moment(cur.endDate).format("MM/DD/YYYY h:mm a") : '') %>" class="form-control date-time-picker validate[required,custom[DurHighCheck]]" id="endDate" name="endDate">
                            <span class="input-group-addon p-l-10 bgm-gray c-white">
                                <i role="button" class="zmdi zmdi-calendar"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="group" class="col-sm-3 control-label">Công ty<span class="required">*</span></label>
                <div class="col-sm-6">
                    <div class="fg-line select ">
                        <select class="selectpicker validate[required,ajax[EditCheck]]" id="idCompany" name="idCompany">
                            <option value='' disabled selected>---- Chọn ----</option>
                            <% orgs.forEach(function(el, i) {%>
                            <option value="<%- el._id%>" <%- (cur.idCompany && _equal(el._id.toString(),cur.idCompany.toString()) ? 'selected' : ''); %>><%- el.name%></option>
                            <%})%>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="group" class="col-sm-3 control-label">Trunk<span class="required">*</span></label>
                <div class="col-sm-6">
                    <div class="fg-line select ">
                        <select class="selectpicker validate[required]" id="trunk" name="trunk">
                            <option value='' disabled selected>---- Chọn ----</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="group" class="col-sm-3 control-label">Loại<span class="required">*</span></label>
                <input type="number" value="<%- cur.type%>" name="typeUpdate" id="typeUpdate" class="hidden">
                <div class="col-sm-6">
                    <div class="fg-line select ">
                        <select class="selectpicker validate[required]" id="type" name="type" disabled>
                            <option value='' disabled selected>---- Chọn ----</option>
                            <option value="1" <%- (cur.type && _equal('1',cur.type.toString()) ? 'selected' : ''); %>>Gọi Thủ Công</option>
                            <option value="2" <%- (cur.type && _equal('2',cur.type.toString()) ? 'selected' : ''); %>>Auto Dialing</option>
                            <option value="3" <%- (cur.type && _equal('3',cur.type.toString()) ? 'selected' : ''); %>>Predictive</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="auto-dialing hidden form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">Delay time </label>
                <div class="col-sm-6">
                    <div class="fg-line">
                        <input type="number" value="<%- cur.delayTime%>" class="form-control input-sm" id="delayTime" name="delayTime:number">
                    </div>
                </div>
            </div>
            <div class="auto-dialing hidden form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">Retry </label>
                <div class="col-sm-6">
                    <div class="fg-line">
                        <input type="number" value="<%- cur.retry%>" class="form-control input-sm" id="retry" name="retry:number">
                    </div>
                </div>
            </div>
            <div class="auto-dialing hidden form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">Retry time </label>
                <div class="col-sm-6">
                    <div class="fg-line">
                        <input type="number" value="<%- cur.retryTime%>" class="form-control input-sm" id="retryTime" name="retryTime:number">
                    </div>
                </div>
            </div>
            <div class="auto-dialing hidden form-group">
                <label for="group" class="col-sm-3 control-label">Trạng thái Auto Dialing</label>
                <div class="col-sm-6">
                    <div class="fg-line select ">
                        <select class="selectpicker" id="autoDialingStatus" name="autoDialingStatus">
                            <option value='0' <%- (cur.type && _equal('0',cur.autoDialingStatus.toString()) ? 'selected' : ''); %>>Waiting</option>
                            <option value='1' <%- (cur.type && _equal('1',cur.autoDialingStatus.toString()) ? 'selected' : ''); %>>Start</option>
                            <option value='2' <%- (cur.type && _equal('2',cur.autoDialingStatus.toString()) ? 'selected' : ''); %>>Stop</option>
                            <option value='3' <%- (cur.type && _equal('3',cur.autoDialingStatus.toString()) ? 'selected' : ''); %>>Completed</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="auto-dialing-cisco hidden form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">Thời gian bắt đầu gọi trong ngày <span class="required">*</span></label>
                <div class="col-sm-6">
                    <div class="fg-line">
                        <div class="input-group">
                            <input class="form-control time validate[required]" id="startTime" name="startTime" value="<%- (cur.startTime ? cur.startTime : '00:00') %>">
                                        <span class="input-group-addon p-l-10 bgm-gray c-white">
                                            <i role="button" class="zmdi zmdi-calendar"></i>
                                        </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="auto-dialing-cisco hidden form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">Thời gian kết thúc gọi trong ngày <span class="required">*</span></label>
                <div class="col-sm-6">
                    <div class="fg-line">
                        <div class="input-group">
                            <input class="form-control time validate[required]" id="endTime" name="endTime" value="<%- (cur.endTime ? cur.endTime : '00:00') %>">
                                        <span class="input-group-addon p-l-10 bgm-gray c-white">
                                            <i role="button" class="zmdi zmdi-calendar"></i>
                                        </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="auto-dialing-cisco hidden form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">Campaign Prefix <span class="required">*</span></label></label>
                <div class="col-sm-6">
                    <div class="fg-line">
                        <input type="number" value="<%- cur.campaignPrefix ? cur.campaignPrefix: 0%>" class="form-control input-sm addRequireCisco" id="retryTime" name="campaignPrefix">
                    </div>
                </div>
            </div>
            <div class="auto-dialing-cisco hidden form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">Dialing mode <span class="required">*</span></label></label>
                <div class="col-sm-6">
                    <div class="fg-line select ">
                        <select class="selectpicker" id="autoDialingMode" name="autoDialingMode">
                            <option value='PREDICTIVEONLY' <%- (cur.autoDialingMode && _equal('0',cur.autoDialingMode.toString()) ? 'selected' : ''); %>>PREDICTIVEONLY</option>
                            <option value='PREVIEWONLY' <%- (cur.autoDialingMode && _equal('0',cur.autoDialingMode.toString()) ? 'selected' : ''); %> >PREVIEWONLY</option>
                            <option value='PROGRESSIVEONLY' <%- (cur.autoDialingMode && _equal('0',cur.autoDialingMode.toString()) ? 'selected' : ''); %> >PROGRESSIVEONLY</option>
                            <option value='PREVIEWDIRECTONLY' <%- (cur.autoDialingModepe && _equal('0',cur.autoDialingMode.toString()) ? 'selected' : ''); %> >PREVIEWDIRECTONLY</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="auto-dialing-cisco hidden form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">Skill group <span class="required">*</span></label></label>
                <div class="col-sm-6">
                    <div class="fg-line select ">
                        <select class="selectpicker" id="idSkillGroup" name="idSkillGroup">
                            <option value='<%- cur.idSkillGroup%>' selected ><%- cur.nameSkillGroup%></option>
                            <% skillsGroup.forEach(function(el, i) {%>
                            <option value="<%- el.refURL[0]%>"  <%- (cur.idSkillGroup && _equal(el.refURL[0],cur.idSkillGroup) ? 'selected' : ''); %>><%- el.name[0]%></option>
                            <%})%>
                        </select>
                    </div>
                </div>
            </div>
            <div class="auto-dialing hidden form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">Dialed number <span class="required">*</span></label></label>
                <div class="col-sm-6">
                    <div class="fg-line">
                        <input type="number" value="<%- cur.dialedNumber ? cur.dialedNumber: 0%>" class="form-control input-sm addRequireCisco" id="dialedNumber" name="dialedNumber">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="group" class="col-sm-3 control-label">Điện thoại viên</label>
                <div class="col-sm-6">
                    <select class="" data-prompt-position="inline:0,10" multiple="multiple" size="10"
                            name="agents[]"
                            id="agents">
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="group" class="col-sm-3 control-label">Nhóm trạng thái cuộc gọi<span class="required">*</span></label>
                <div class="col-sm-6">
                    <div class="fg-line select ">
                        <select class="selectpicker validate[required]" id="idCategoryReason" name="idCategoryReason">
                            <option value='' disabled selected>---- Chọn ----</option>
                            <% reasons.forEach(function(el, i) {%>
                            <option value="<%- el._id%>" <%- (cur.idCategoryReason && _equal(el._id.toString(),cur.idCategoryReason.toString()) ? 'selected' : ''); %>><%- el.name%></option>
                            <%})%>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="group" class="col-sm-3 control-label">Câu hỏi khảo sát</label>
                <div class="col-sm-6">
                    <div class="fg-line select">
                        <select class="selectpicker" id="idSurvey" name="idSurvey">
                            <option value='' selected>---- Chọn ----</option>
                            <% surveys.forEach(function(el, i) {%>
                            <option value="<%- el._id%>" <%- (cur.idSurvey && _equal(el._id.toString(),cur.idSurvey.toString()) ? 'selected' : ''); %>><%- el.name%></option>
                            <%})%>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="group" class="col-sm-3 control-label">Chiến dịch cha</label>
                <div class="col-sm-6">
                    <div class="fg-line select">
                        <select class="selectpicker" id="idCampainParent" name="idCampainParent">
                            <option value='' selected>---- Chọn ----</option>
                            <% campains.forEach(function(el, i) {%>
                            <option value="<%- el._id%>" <%- (cur.idCampainParent && _equal(el._id.toString(),cur.idCampainParent.toString()) ? 'selected' : ''); %>><%- el.name%></option>
                            <%})%>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="status" class="col-sm-3 control-label">Trạng thái</label>
                <div class="col-sm-6">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="1" name="status" id="status" <%- (cur.status ? 'checked' : ''); %>>
                            <i class="input-helper"></i>
                            <span id="status-span" class="p-l-10" data-text-on="Không kích hoạt" data-text-off="Kích hoạt"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group m-b-0">
                <div class="col-sm-offset-3 col-sm-10">
                    <a type="button" class="btn btn-default btn-icon-text m-t-10 m-r-10 waves-effect" href="/#campains"><i class="m-r-5 zmdi zmdi-arrow-left"></i>Quay lại</a>
                    <button type="submit" class="btn btn-primary btn-icon-text m-t-10 waves-effect"><i class="m-r-5 zmdi zmdi-plus-circle-o"></i>Xác nhận</button>
                </div>
            </div>
        </form>
    </div>
</div>
