<%-breadcrumb%>
<script>
    var searchData = JSON.parse('<%- JSON.stringify(searchData)%>');
</script>
<div class="lv-header-alt clearfix">
    <h2 class="lvh-label hidden-xs"><%- title %></h2>
    <ul class="lv-actions actions">
        <li>
            <a href="#campains/new" data-placement="left" data-original-title="Tạo mới" class="new-item">
                <i class="zmdi zmdi-plus"></i>
            </a>
        </li>
        <li>
            <a href="/#campains" data-toggle="tooltip" data-placement="left" data-original-title="Làm mới danh sách">
                <i class="zmdi zmdi-refresh"></i>
            </a>
        </li>
        <li class="hidden" id="li-hidden">
            <a role="button" data-toggle="tooltip" data-placement="top" data-original-title="Xóa các mục đánh dấu" id="btn-delSelection">
                <i class="zmdi zmdi-delete"></i>
            </a>
        </li>
    </ul>
</div>
<div class="card">
    <div class="card-body table-responsive">
        <form id="campain">
            <table class="table table-hover table-bordered table-fix">
                <thead>
                <tr class="listHead">
                    <th class="text-center bgm-orange c-white w-40">#</th>
                    <th class="text-center bgm-orange c-white w-30">STT</th>
                    <th data-sort="none" role="button" class="text-center bgm-orange c-white w-160" data-field="name">
                        <i data-toggle="tooltip" data-original-title="Sắp xếp theo thứ tự tăng dần" class="zmdi zmdi-sort-asc"></i>
                        <i data-toggle="tooltip" data-original-title="Sắp xếp theo thứ tự giảm dần" class="zmdi zmdi-sort-desc"></i>
                        Chủ đề chiến dịch
                    </th>
                    <th class="bgm-orange c-white w-100 text-center">
                        Công ty
                    </th>
                    <th class="bgm-orange c-white w-60 text-center">
                        Trunk
                    </th>
                    <th class="bgm-orange c-white w-60 text-center">
                        Loại
                    </th>
                    <th class="bgm-orange c-white w-60 text-center">
                        Nhóm tình trạng
                    </th>
                    <th class="text-center bgm-orange c-white w-60">
                        Ngày bắt đầu
                    </th>
                    <th class="bgm-orange c-white w-60 text-center">
                        Ngày kết thúc
                    </th>
                    <th class="bgm-orange c-white w-60 text-center">
                        Tổng số KH
                    </th>
                    <th class="bgm-orange c-white w-60 text-center">
                        SL chưa phân
                    </th>
                    <th class="bgm-orange c-white w-60 text-center">
                        Tạo bởi
                    </th>
                    <th data-sort="none" role="button" class="bgm-orange c-white w-60 text-center" data-field="created">
                        <i data-toggle="tooltip" data-original-title="Sắp xếp theo thứ tự tăng dần" class="zmdi zmdi-sort-asc"></i>
                        <i data-toggle="tooltip" data-original-title="Sắp xếp theo thứ tự giảm dần" class="zmdi zmdi-sort-desc"></i>
                        Ngày tạo
                    </th>
                    <th class="bgm-orange c-white w-60 text-center">
                        Trạng thái
                    </th>
                    <th class="bgm-orange c-white w-60 text-center">Tác vụ</th>
                </tr>
                </thead>
                <tbody>
                <tr class="row-filter filter">
                    <td class="text-center p-0">
                        <div class="checkbox m-0 m-l-3" data-toggle="tooltip" data-placement="top" data-original-title="Chọn tất cả">
                            <label>
                                <input type="checkbox" id="select_all">
                                <i class="input-helper"></i>
                            </label>
                        </div>
                    </td>
                    <td class="text-center"></td>
                    <td class="text-center">
                        <input class="form-control" type="text" id="edit_filter_name" name="filter_name" value="<%- searchData.name%>">
                    </td>
                    <td class="text-center">
                        <div>
                            <select class="selectpicker" id="edit_filter_idCompany" name="filter_idCompany">
                                <option value='' selected class="text-center">Tất cả</option>
                                <% orgs.forEach(function(el, i) {%>
                                <option value="<%- el._id%>" <%- (_equal(el._id.toString(),searchData.idCompany ? searchData.idCompany.toString() : '') ? 'selected' : ''); %>><%- el.name%></option>
                                <%})%>
                            </select>
                        </div>
                    </td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center">
                        <button type="button" class="btn btn-primary btn-block btn-filter"><i class="zmdi zmdi-filter-list m-r-5"></i> Lọc</button>
                    </td>
                </tr>
                <% categories.forEach(function(el, i) { %>
                <tr>
                    <td class="select-cell text-center">
                        <div class="checkbox m-0">
                            <label>
                                <input name="select" type="checkbox"  class="select-box selection" value="<%- el._id %>">
                                <i class="input-helper"></i>
                            </label>
                        </div>
                    </td>
                    <td class="text-center"><%- (i+paging.fromResult)%></td>
                    <td><%- el.name %></td>
                    <td class="text-center"><%- (el.idCompany ? el.idCompany.name : '') %></td>
                    <td class="text-center"><%- (el.trunk ? el.trunk.name + ' - ' + el.trunk.prefix : '') %></td>
                    <td class="text-center">
                        <%- (el.type ? (el.type == 1 ? 'Gọi Thủ Công' : '') : '')%>
                        <%- (el.type ? (el.type == 2 ? 'Auto Dialing' : '') : '')%>
                        <%- (el.type ? (el.type == 3 ? 'Predictive' : '') : '')%>
                    </td>
                    <td class="text-center"><%- (el.idCategoryReason ? el.idCategoryReason.name : '' ) %></td>
                    <td class="text-center f-12"><%- (el.startDate ? _moment(el.startDate).format("MM/DD/YYYY h:mm a") : '') %></td>
                    <td class="text-center f-12"><%- (el.endDate ? _moment(el.endDate).format("MM/DD/YYYY h:mm a") : '') %></td>
                    <td class="text-center"><%- (!el.add ? 0 : el.add >= 0 ? el.add : 0)%></td>
                    <td class="text-center">
                        <% if(![4,5].includes(el.type)) {%> 
                            <%- ( (el.add - el.added) >= 0 ? (el.add - el.added) : 0)%>
                        <% } %> 
                    </td>
                    <td class="text-center"><%- (el.createBy ? el.createBy.displayName : '') %></td>
                    <td class="text-center f-12"><%- (el.created ? _moment(el.created).format("DD/MM/YYYY") : '') %></td>
                    <td class="text-center">
                        <div class="checkbox" style="margin: 0 auto">
                            <label>
                                <input disabled name="select" type="checkbox" class="select-box" <%- (el.status ? 'checked' : ''); %> />
                                <i class="input-helper"></i>
                            </label>
                        </div>
                    </td>
                    <td class="text-center task" data-id="<%- el._id %>" data-url="/campains">
                        <a role="button" href="/#campains?addnumber=<%- el._id%>" class="p-t-3 btn-flat-bg addNumber" data-toggle="tooltip" data-placement="top" data-original-title="Thêm số"><i class="zmdi zmdi-phone-in-talk green f-17"></i></a>
                        <%if (el.type == 1) { %>
                        <a role="button" href="/#campains-assign?campainId=<%- el._id%>" class="p-t-3 btn-flat-bg addAgent" data-toggle="tooltip" data-placement="top" data-original-title="Phân công"><i class="zmdi zmdi-accounts-add green f-17"></i></a>
                        <% } %>
                        <a href="/#campains/<%- el._id %>/edit" class="p-t-3 btn-flat-bg"><i class="zmdi zmdi-edit green f-17"></i></a>
                        <a role="button" type="click" class="p-t-3 btn-flat-bg btn-remove" data-id="<%- el._id %>"><i class="zmdi zmdi-close red f-17"></i></a>
                    </td>
                </tr>
                <% }); %>
                </tbody>
            </table>
            <%- include('../paging.ejs') %>
        </form>
    </div>
</div>

<div class="modal fade" id="frm-item" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <form class="form-horizontal m-t-30" role="form">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Tạo mới chiến dịch</h4>
                </div>
                <div class="modal-body">
                    <div class="card-body p-t-40" style="max-height: 400px; overflow-y: scroll; overflow-x: hidden">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">Tên chiến dịch <span class="required">*</span></label>
                            <div class="col-sm-8">
                                <div class="fg-line">
                                    <input type="text" value="" class="form-control input-sm validate[required,ajax[NewCheck]]" id="name" name="name">
                                    <input type="hidden" value="" id="updateId">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">Chú thích </label>
                            <div class="col-sm-8">
                                <div class="fg-line">
                                    <input type="text" value="" class="form-control input-sm" id="note" name="note">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">Ngày bắt đầu<span class="required">*</span></label>
                            <div class="col-sm-8">
                                <div class="fg-line">
                                    <div class="input-group">
                                        <input class="form-control date-time-picker validate[required]" type="text" id="startDate" name="startDate">
                                        <span class="input-group-addon p-l-10 bgm-gray c-white">
                                            <i role="button" class="zmdi zmdi-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">Ngày kết thúc<span class="required">*</span></label>
                            <div class="col-sm-8">
                                <div class="fg-line">
                                    <div class="input-group">
                                        <input class="form-control date-time-picker validate[required,custom[DurHighCheck]]" id="endDate" name="endDate">
                                        <span class="input-group-addon p-l-10 bgm-gray c-white">
                                            <i role="button" class="zmdi zmdi-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="group" class="col-sm-3 control-label">Công ty<span class="required">*</span></label>
                            <div class="col-sm-6">
                                <div class="fg-line select ">
                                    <select class="selectpicker validate[required,ajax[NewCheck]]" id="idCompany" name="idCompany">
                                        <option value='' disabled selected>---- Chọn ----</option>
                                        <% orgs.forEach(function(el, i) {%>
                                        <option value="<%- el._id%>"><%- el.name%></option>
                                        <%})%>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="group" class="col-sm-3 control-label">Trunk<span class="required">*</span></label>
                            <div class="col-sm-6">
                                <div class="fg-line select ">
                                    <select class="selectpicker validate[required]" id="trunk" name="trunk">
                                        <option value='' disabled selected>---- Chọn ----</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="group" class="col-sm-3 control-label">Loại<span class="required">*</span></label>
                            <div class="col-sm-6">
                                <div class="fg-line select ">
                                    <select class="selectpicker validate[required]" id="type" name="type">
                                        <option value='' disabled selected>---- Chọn ----</option>
                                        <option value="1">Gọi Thủ Công</option>
                                        <option value="2">Auto Dialing</option>
                                        <option value="3">Predictive</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="auto-dialing hidden form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">Delay time </label>
                            <div class="col-sm-8">
                                <div class="fg-line">
                                    <input type="number" value="0" class="form-control input-sm" id="delayTime" name="delayTime:number">
                                </div>
                            </div>
                        </div>
                        <div class="auto-dialing hidden form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">Retry </label>
                            <div class="col-sm-8">
                                <div class="fg-line">
                                    <input type="number" value="0" class="form-control input-sm" id="retry" name="retry:number">
                                </div>
                            </div>
                        </div>
                        <div class="auto-dialing hidden form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">Retry time </label>
                            <div class="col-sm-8">
                                <div class="fg-line">
                                    <input type="number" value="0" class="form-control input-sm" id="retryTime" name="retryTime:number">
                                </div>
                            </div>
                        </div>
                        <div class="auto-dialing hidden form-group">
                            <label for="group" class="col-sm-3 control-label">Trạng thái Auto Dialing</label>
                            <div class="col-sm-6">
                                <div class="fg-line select ">
                                    <select class="selectpicker" id="autoDialingStatus" name="autoDialingStatus">
                                        <option value='0' selected>Waiting</option>
                                        <option value='1'>Start</option>
                                        <option value='2'>Stop</option>
                                        <option value='3'>Completed</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="auto-dialing hidden form-group">
                            <label for="group" class="col-sm-3 control-label">Điện thoại viên</label>
                            <div class="col-sm-7">
                                <select class="" data-prompt-position="inline:0,10" multiple="multiple" size="10"
                                        name="agents[]"
                                        id="agents">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="group" class="col-sm-3 control-label">Nhóm trạng thái cuộc gọi<span class="required">*</span></label>
                            <div class="col-sm-6">
                                <div class="fg-line select ">
                                    <select class="selectpicker validate[required]" id="idCategoryReason" name="idCategoryReason">
                                        <option value='' disabled selected>---- Chọn ----</option>
                                        <% reasons.forEach(function(el, i) {%>
                                        <option value="<%- el._id%>"><%- el.name%></option>
                                        <%})%>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="group" class="col-sm-3 control-label">Câu hỏi khảo sát</label>
                            <div class="col-sm-6">
                                <div class="fg-line select">
                                    <select class="selectpicker" id="idSurvey" name="idSurvey">
                                        <option value='' selected>---- Chọn ----</option>
                                        <% surveys.forEach(function(el, i) {%>
                                        <option value="<%- el._id%>"><%- el.name%></option>
                                        <%})%>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="group" class="col-sm-3 control-label">Chiến dịch cha</label>
                            <div class="col-sm-6">
                                <div class="fg-line select">
                                    <select class="selectpicker" id="idCampainParent" name="idCampainParent">
                                        <option value='' selected>---- Chọn ----</option>
                                        <% campains.forEach(function(el, i) {%>
                                        <option value="<%- el._id%>"><%- el.name%></option>
                                        <%})%>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="status" class="col-sm-3 control-label">Trạng thái</label>
                            <div class="col-sm-6">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="1" name="status" id="status" checked>
                                        <i class="input-helper"></i>
                                        <span id="status-span" class="p-l-10" data-text-on="Không kích hoạt" data-text-off="Kích hoạt"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-icon-text m-t-10 m-r-10 waves-effect" data-dismiss="modal"><i class="m-r-5 zmdi zmdi-arrow-left"></i>Bỏ qua</button>
                    <button type="submit" class="btn btn-primary btn-icon-text m-t-10 waves-effect"><i class="m-r-5 zmdi zmdi-plus-circle-o"></i>Xác nhận</button>
                    <button type="submit" class="btn btn-primary btn-icon-text m-t-10 waves-effect" style="display: none"><i class="m-r-5 zmdi zmdi-plus-circle-o"></i>Cập nhật</button>
                </div>
            </div>
        </div>
    </form>
</div>