<%-breadcrumb%>
<div class="card">
    <div class="lv-header-alt clearfix m-b-5">
        <h2 class="lvh-label hidden-xs"><%- title %></h2>
        <div class="lvh-search">
            <input type="text" placeholder="Start typing..." class="lvhs-input">
            <i class="lvh-search-close">×</i>
        </div>

        <ul class="lv-actions actions">
            <li class="dropdown" data-toggle="tooltip" data-placement="top" data-original-title="Tạo mới mức độ hài lòng">
                <a role="button" data-toggle="modal" href="#frm-statisfy">
                    <i class="zmdi zmdi-plus"></i>
                </a>
            </li>
            <li><a href="/#customer-statisfy" data-toggle="tooltip" data-placement="top" data-original-title="Refresh"><i class="zmdi zmdi-refresh"></i></a></li>
        </ul>
    </div>
    <div class="card-body table-responsive" style="min-height: 500px">
        <form id="customer-statisfy">
            <table class="table table-fix">
                <thead>
                <tr>
                    <th data-sort="none" role="button" class="text-center bgm-orange c-white" data-field="statisfy">Mức độ hài lòng khách hàng</th>
                    <th data-sort="none" role="button" class="text-center bgm-orange c-white" data-field="statisfy">Tiêu chí</th>
                </tr>
                </thead>
                <tbody>
                <% for(var i = 0; i < statisfy.length; i++){ %>
                <% var _class = (i % 2 == 0) ? 'odd' : 'even'; %>
                <tr>
                    <td rowspan="<%- statisfy[i].stage.length %>" class="text-center <%- _class %>">
                        <div class="p-relative  text-justify" style="height: <%- statisfy[i].stage.length * 38 - 16 %>px">
                            <div data-id="<%- statisfy[i]._id %>" data-url="/customer-statisfy" class="statisfy-task customer-statisfy bgm-white p-absolute r-0 t--3">
                                <a role="button" class="p-t-3 btn-flat-bg add" data-toggle="tooltip" data-placement="top" data-original-title="Thêm lý do"><i class="zmdi zmdi-plus blue f-20"></i></a>
                                <a role="button" class="p-t-3 btn-flat-bg edit" data-toggle="tooltip" data-placement="top" data-original-title="Sửa mức độ"><i class="zmdi zmdi-edit green f-17"></i></a>
                                <a role="button" class="p-t-3 btn-flat-bg delete" data-toggle="tooltip" data-placement="top" data-original-title="Xoá mức độ"><i class="zmdi zmdi-close red f-17"></i></a>
                            </div>
                            <div class=" d-tbl">
                                <div class="d-cell"><%- statisfy[i].name %></div>
                            </div>
                        </div>
                    </td>
                    <td class=" <%- _class %>">
                        <% if(statisfy[i].stage.length){ %>
                        <div class="p-relative text-justify">
                            <%- statisfy[i].stage[0].name %>
                            <div data-id="<%- statisfy[i].stage[0]._id %>" data-url="/customer-statisfy" class="statisfy-task customer-source bgm-white p-absolute r-0 t--1 p-l-10">
                                <a role="button" class="p-t-3 btn-flat-bg edit" data-toggle="tooltip" data-placement="top" data-original-title="Sửa tiêu chí"><i class="zmdi zmdi-edit green f-17"></i></a>
                                <a role="button" class="p-t-3 btn-flat-bg delete" data-toggle="tooltip" data-placement="top" data-original-title="Xoá tiêu chí"><i class="zmdi zmdi-close red f-17"></i></a>
                            </div>
                        </div>
                        <% } %>
                    </td>
                </tr>
                <% for(var j = 1; j < statisfy[i].stage.length; j++){ %>
                <tr>
                    <td class=" <%- _class %>">
                        <div class="p-relative text-justify">
                            <%- statisfy[i].stage[j].name %>
                            <div data-id="<%- statisfy[i].stage[j]._id %>" data-url="/customer-statisfy" class="statisfy-task customer-source bgm-white p-absolute r-0 t--1 p-l-10">
                                <a role="button" class="p-t-3 btn-flat-bg edit" data-toggle="tooltip" data-placement="top" data-original-title="Sửa tiêu chí"><i class="zmdi zmdi-edit green f-17"></i></a>
                                <a role="button" class="p-t-3 btn-flat-bg delete" data-toggle="tooltip" data-placement="top" data-original-title="Xoá tiêu chí"><i class="zmdi zmdi-close red f-17"></i></a>
                            </div>
                        </div>
                    </td>
                </tr>
                <% } %>
                <% } %>
                </tbody>
            </table>
            <% include('../paging.ejs') %>
        </form>
    </div>
</div>

<div class="modal fade" id="frm-statisfy" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <form class="form-horizontal m-t-30" role="form">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Sửa </h4>
                </div>
                <div class="modal-body">

                    <div class="card-body">
                        <div class="form-statisfy">
                            <label for="inputEmail3" class="col-sm-3 control-label">Mức độ <span class="required">*</span></label>
                            <div class="col-sm-8">
                                <div class="fg-line">
                                    <input type="text" value="" class="form-control input-sm validate[required,ajax[StatisfyCheck]]" id="validate-statisfy-for-name" name="name" placeholder="vd : Công nghệ thông tin">
                                    <input type="hidden" value="" id="validate-statisfy-for-x-name">
                                </div>
                            </div>
                        </div>
                        <div class="form-statisfy">
                            <div class="col-sm-offset-3 col-sm-8">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="1" name="status" id="status" checked>
                                        <i class="input-helper"></i>
                                        <span class="p-l-5 text-capitalize-f">Kích hoạt</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary waves-effect create">Xác nhận</button>
                    <button type="submit" class="btn btn-primary waves-effect update" style="display: none">Cập nhật</button>
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Bỏ qua</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal fade" id="frm-source" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <form class="form-horizontal m-t-30" role="form">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Tạo nguồn mới</h4>
                </div>
                <div class="modal-body">

                    <div class="card-body">
                        <div class="form-statisfy">
                            <label for="inputEmail3" class="col-sm-3 control-label">Tiêu chí <span class="required">*</span></label>
                            <div class="col-sm-8">
                                <div class="fg-line">
                                    <input type="text" class="form-control input-sm validate[required,ajax[StageCheck]]" id="validate-stage-for-name" name="name" placeholder="vd : Lập trình">
                                    <input type="hidden" value="" id="validate-stage-for-x-name">
                                    <input type="hidden" value="" id="validate-stage-for-statisfy" name="statisfy">
                                </div>
                            </div>
                        </div>
                        <div class="form-statisfy">
                            <div class="col-sm-offset-3 col-sm-8">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="1" name="status" id="status" checked>
                                        <i class="input-helper"></i>
                                        <span class="p-l-5 text-capitalize-f">Kích hoạt</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary waves-effect">Xác nhận</button>
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Bỏ qua</button>
                </div>
            </div>
        </div>
    </form>
</div>
