<%-breadcrumb%>
<div class="card">

    <div class="lv-header-alt clearfix m-b-5">
        <h2 class="lvh-label hidden-xs">Danh sách khách hàng</h2>
        <div class="lvh-search">
            <input type="text" placeholder="Start typing..." class="lvhs-input">
            <i class="lvh-search-close">×</i>
        </div>

        <ul class="lv-actions actions">
            <li>
                <a data-toggle="tooltip" data-placement="top" data-original-title="Refresh"><i class="zmdi zmdi-refresh"></i></a>
            </li>
            <li data-toggle="tooltip" data-placement="top" data-original-title="Cột hiển thị" class="dropdown">
                <a role="button" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
                    <i class="zmdi zmdi-view-column"></i>
                </a>
                <ul class="dropdown-menu pull-right p-t-0">
                    <% for(var i = 0; i < fields.length; i++){ %>
                    <li class="p-l-15 p-r-20">
                        <div class="checkbox">
                            <label>
                                <input name="select" type="checkbox" class="select-box column-display" data-id="<%- fields[i]._id %>"
                                       value="<%- fields[i].modalName %>" <%- fields[i].isDefault ? 'checked' : '' %>><i class="input-helper"></i>
                                <a role="button" class="p-l-5 text-capitalize text-nowrap"><%- fields[i].displayName %></a>
                            </label>
                        </div>
                    </li>
                    <% } %>
                </ul>
            </li>
        </ul>
    </div>
    <div class="card-body table-responsive" style="min-height: 500px">
        <form id="customer">
            <table class="table table-hover table-bordered table-fix">
                <thead>
                <tr>
                    <% for(var i = 0; i < fields.length; i++){ %>
                    <th data-sort="none" role="button"
                        class="text-center bgm-orange c-white w-<%- fields[i].displayWidth %> <%- fields[i].isDefault ? '' : ' hidden' %>"
                        data-field="<%- fields[i].modalName %>">
                        <i data-toggle="tooltip" data-placement="top" data-original-title="Sắp xếp <%- fields[i].displayName %> tăng dần"
                           class="zmdi zmdi-sort-<%- _switch(fields[i].fieldType, [1, 2, 3, 4, 5, 6], ['', 'amount-', '', '', '', 'amount-']) %>asc"></i>
                        <i data-toggle="tooltip" data-placement="top" data-original-title="Sắp xếp <%- fields[i].displayName %> giảm dần"
                           class="zmdi zmdi-sort-<%- _switch(fields[i].fieldType, [1, 2, 3, 4, 5, 6], ['', 'amount-', '', '', '', 'amount-']) %>desc"></i>
                        <%- fields[i].displayName %>
                    </th>
                    <% } %>
                    <th class="text-center bgm-orange c-white w-40">Tác vụ</th>
                </tr>
                </thead>
                <tbody>
                <tr class="row-filter filter" id="searchForm">
                    <% for(var i = 0; i < fields.length; i++){ %>
                    <td class="text-center <%- fields[i].isDefault ? '' : 'hidden' %>"
                        data-field="<%- fields[i].modalName %>"><%- _dInputFilter(fields[i]) %></td>
                    <% } %>
                    <td class="text-center">
                        <button type="button" class="btn btn-primary btn-block btn-filter"><i class="zmdi zmdi-search"></i></button>
                    </td>
                </tr>
                <% for(var i = 0; i < customers.length; i++){ var j = i; %>
                <tr>
                    <% for(var k = 0; k < fields.length; k++){ %>
                    <td class="text-center text-capitalize <%- fields[k].isDefault ? '' : 'hidden' %>"
                        data-field="<%- fields[k].modalName %>"><%- _fieldValue(customers[i], fields[k].modalName, fields[k].fieldType) %></td>
                    <% } %>
                    <td class="text-center">
                        <a role="button" href="/#customer-detail/<%- customers[i]._id %>" class="p-t-3 btn-flat-bg" data-toggle="tooltip"
                           data-placement="top" data-original-title="Sửa"><i class="zmdi zmdi-edit green f-17"></i></a>
                    </td>
                </tr>
                <% } %>
                </tbody>
            </table>
            <%- include ('../paging.ejs') %>
        </form>
    </div>
</div>