<%-breadcrumb%>
<div class="card">
    <div class="lv-header-alt clearfix">
        <h2 class="lvh-label hidden-xs"><%- title %></h2>
        <ul class="lv-actions actions">
            <li>
                <a href="/#customer-import-history" data-toggle="tooltip" data-placement="top" data-original-title="Làm mới">
                    <i class="zmdi zmdi-refresh"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="card-body table-responsive">
        <table class="table table-hover table-condensed table-bordered">
            <thead>
            <tr>
                <th class="w-30 select-cell bgm-orange c-white text-center">#</th>
                <th role="button" class="bgm-orange c-white text-center" id="sortByName" name="sortByName">Tên</th>
                <th role="button" class="bgm-orange c-white text-center" id="sortByDurLow" name="sortByDurLow">Trạng thái</th>
                <th class="bgm-orange c-white text-center">Tạo bởi</th>
                <th class="w-200 bgm-orange c-white text-center">Ngày tạo</th>
                <th class="bgm-orange w-100"></th>
            </tr>
            </thead>
            <tbody>
            <tr class="filter">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><div class="input-group"><input class="form-control date-picker filter" type="text" id="created" name="created"><span class="input-group-addon p-l-10 bgm-gray c-white"><i role="button" class="zmdi zmdi-calendar"></i></span></div></td>
                <td><button class="btn btn-primary btn-block waves-effect" id="btn-search" name="btn-search"><i class="zmdi zmdi-filter-list m-r-5"></i> Lọc</button></td>
            </tr>
            <script> var isZeroList = false; </script>
            <% if (historyList.length == 0){ %>
               <script> isZeroList   = true; </script>
            <%}else{ %>
            <% historyList.forEach(function(hi, i) { %>
            <tr>
                <td class="select-cell text-center w-60 index"><%- i + 1 %>.
                </td>
                <td class="p-l-40"><%- hi.name %></td>
                <td class="text-center">Completed</td>
                <td class="text-center"><%- hi.createBy %></td>
                <td class="text-center"><%- _moment(hi.created).format('DD/MM/YYYY HH:mm:ss') %></td>
                <td class="text-center"><a role="button" data-url="<%- hi.url %>" id="btn-download">Download</a></td>
            </tr>
            <% }); }%>
            </tbody>
        </table>
        <div class="text-center" id="ticket-total">
            <span class="TXT_TOTAL">Tổng</span>:
            <span class="bold c-red" id="ticket-total"><%=paging.totalResult%></span>
        </br>
        <span class="bold" id="ticket-total">Hiện tại:
            <span class="text-success"> <%=paging.fromResult%>-<%=paging.toResult%></span></span>
        </div>
        <%- include ('../paging.ejs') %>
    </div>
</div>