<%-breadcrumb%>
<script>var outBoundCompany = JSON.parse('<%- JSON.stringify(outbound); %>')</script>

<div class="card">
    <div class="lv-header-alt clearfix m-b-5">
        <h2 class="lvh-label hidden-xs"><%- title %></h2>
        <ul class="lv-actions actions">
            <li><a href="/#following" data-toggle="tooltip" data-placement="top" data-original-title="Refresh"><i
                            class="zmdi zmdi-refresh"></i></a></li>
            <li data-toggle="tooltip" data-placement="top" data-original-title="Cột hiển thị" class="dropdown">
                <a role="button" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
                    <i class="zmdi zmdi-view-column"></i>
                </a>
                <ul class="dropdown-menu pull-right p-t-0" id="showHideFields"></ul>
            </li>
        </ul>
    </div>

    <div class="panel panel-default">
        <div>
            <div class="panel-body p-0 c-overflow">
                <ul class="tab-nav tn-justified" role="tablist">
                    <li role="presentation" class="ticketTab active" data-id="1">
                        <a class="col-sm-6 p-5 f-13 TXT_CUSTOMER_CURRENT_TICKET"
                           href="#tab-inbound"
                           aria-controls="tab-inbound"
                           role="tab"
                           data-toggle="tab" aria-expanded="false">Danh sách gọi vào</a>
                    </li>
                    <li role="presentation" class="ticketTab" data-id="2">
                        <a class="col-sm-6 p-5 f-13 TXT_CUSTOMER_RELATE_TICKET"
                           href="#tab-outbound"
                           aria-controls="tab-outbound"
                           role="tab"
                           data-toggle="tab" aria-expanded="false">Danh sách gọi ra</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" style="height: 100%" class="tab-pane animated active" id="tab-inbound">
                        <form role="form" id="frm-inbound">
                            <table class="table table-bordered table-fix" id="tbl-ticket">
                                <thead>
                                <tr>
                                    <th class="bgm-orange c-white text-center">
                                        <span class="TEXT_INCOMING_COMPANY"></span>
                                    </th>
                                    <th class="bgm-orange c-white text-center">
                                        <span class="TEXT_INCOMING_GROUP_STATE"></span>
                                    </th>
                                    <th class="bgm-orange c-white text-center">
                                        <span class="TEXT_INCOMING_PHONE_NUMBER"></span>
                                    </th>
                                    <th class="bgm-orange c-white text-center sort" role="button"
                                        data-sort="none" sortName="status">
                                        <i data-toggle="tooltip" data-placement="top" data-original-title="Sắp xếp tăng dần"
                                           class="zmdi zmdi-sort-asc"></i>
                                        <i data-toggle="tooltip" data-placement="top" data-original-title="Sắp xếp giảm dần"
                                           class="zmdi zmdi-sort-desc"></i>
                                        <span class="TEXT_INCOMING_STATUS"></span>
                                    </th>
                                    <th class="bgm-orange c-white text-center w-180 sort" role="button"
                                        data-sort="none" sortName="deadline">
                                        <i data-toggle="tooltip" data-placement="top" data-original-title="Sắp xếp tăng dần"
                                           class="zmdi zmdi-sort-asc"></i>
                                        <i data-toggle="tooltip" data-placement="top" data-original-title="Sắp xếp giảm dần"
                                           class="zmdi zmdi-sort-desc"></i>
                                        <span class="TEXT_INCOMING_DEADLINE"></span>
                                    </th>
                                    <th class="bgm-orange c-white text-center w-180 sort" role="button"
                                        data-sort="none" sortName="updated">
                                        <i data-toggle="tooltip" data-placement="top" data-original-title="Sắp xếp tăng dần"
                                           class="zmdi zmdi-sort-asc"></i>
                                        <i data-toggle="tooltip" data-placement="top" data-original-title="Sắp xếp giảm dần"
                                           class="zmdi zmdi-sort-desc"></i>
                                        <span class="TEXT_INCOMING_UPDATED_DATE"></span>
                                    </th>
                                    <th class="bgm-orange c-white text-center">
                                        <span class="TEXT_INCOMING_UPDATED_BY"></span>
                                    </th>
                                    <th class="bgm-orange c-white text-center sort" role="button"
                                        data-sort="none" sortName="updatedBy">
                                        <i data-toggle="tooltip" data-placement="top" data-original-title="Sắp xếp tăng dần"
                                           class="zmdi zmdi-sort-asc"></i>
                                        <i data-toggle="tooltip" data-placement="top" data-original-title="Sắp xếp giảm dần"
                                           class="zmdi zmdi-sort-desc"></i>
                                        <span class="TEXT_INCOMING_NOTE"></span>
                                    </th>
                                    <th class="bgm-orange c-white text-center w-100">
                                        <span class="TEXT_INCOMING_ACTION"></span>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr class="filter">
                                    <td>
                                        <div>
                                            <select class="selectpicker searchColumn"
                                                    id="company"
                                                    name="company">
                                                <option selected value="">- Chọn -</option>
                                                <% inbound.company.forEach(function(el){ %>
                                                <option value="<%- el._id %>"><%- el.name %></option>
                                                <% }) %>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <select class="selectpicker searchColumn"
                                                    id="reason"
                                                    name="reason">
                                                <option selected value="">- Chọn -</option>
                                                <% reasons_in.forEach(function(el){ %>
                                                <option value="<%- el._id %>" style="font-weight: bold;"><%- el.name %></option>
                                                <% if(el.reasons){ %>
                                                <% el.reasons.forEach(function(el2){ %>
                                                <option value="<%- (el._id + '-' +el2._id) %>" class="m-l-10"><%- el2.name %></option>
                                                <% if(el2.subreasons){ %>
                                                <% el2.subreasons.forEach(function(el3){ %>
                                                <option value="<%- (el._id + '-' + el2._id +'-' + el3._id) %>" class="m-l-20"><%- el3.name %></option>
                                                <% })} %>
                                                <% })} %>
                                                <% }) %>
                                            </select>
                                        </div>
                                    </td>

                                    <td>
                                        <input type="text" class="form-control input-sm searchColumn"
                                               id="field_so_dien_thoai" name="field_so_dien_thoai"
                                               placeholder="VD: 09xxxxxxxx">
                                    </td>
                                    <td>
                                        <select class="selectpicker searchColumn"
                                                id="ticket-search-by-status"
                                                name="status" disabled>
                                            <option value="1" selected>Đang xử lý</option>
                                        </select>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <input type="text" class="form-control pull-right multi-date-picker searchColumn"
                                                   id="deadline" name="deadline"
                                                   placeholder="Ngày hẹn">
                                            <span class="input-group-addon p-l-10 bgm-gray c-white">
                                                <i role="button" class="zmdi zmdi-calendar"></i></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <input type="text" class="form-control pull-right multi-date-picker searchColumn"
                                                   id="updated" name="updated"
                                                   placeholder="VD: 01/19/2023 9:51 AM">
                                            <span class="input-group-addon p-l-10 bgm-gray c-white">
                                                <i role="button" class="zmdi zmdi-calendar"></i></span>
                                        </div>
                                    </td>
                                    <td><input type="text" class="form-control input-sm searchColumn"
                                               id="updateBy" name="updateBy"
                                               placeholder="Người cập nhật">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control input-sm searchColumn"
                                               id="note" name="note"
                                               placeholder="VD: chu thich 01">
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-primary btn-block waves-effect" id="btn-search" name="btn-search">
                                            <i class="zmdi zmdi-filter-list m-r-5"></i> Lọc
                                        </button>
                                    </td>
                                </tr>

                                <tbody id="ticket-body">
                                </tbody>
                                </tbody>
                            </table>
                            <div class="text-center" id="ticket-total"></div>
                            <div class="text-center" id="ticket-paging">
                            </div>
                        </form>
                    </div>

                    <div role="tabpanel" style="height: 100%" class="tab-pane animated" id="tab-outbound">
                        <form role="form" id="frm-outbound">
                            <table class="table table-bordered table-fix" id="tbl-ticket">
                                <thead>
                                <tr>
                                    <th class="bgm-orange c-white text-center">
                                        <span class="TEXT_COMPANY_NAME"></span>
                                    </th>
                                    <th class="bgm-orange c-white text-center">
                                        <span class="TEXT_CAMPAIGN_NAME"></span>
                                    </th>
                                    <th class="bgm-orange c-white text-center">
                                        <span class="TEXT_REASON"></span>
                                    </th>
                                    <th class="bgm-orange c-white text-center">
                                        <span class="TEXT_STATUS"></span>
                                    </th>
                                    <th class="bgm-orange c-white text-center">
                                        <span class="TEXT_PHONE_NUMBER"></span>
                                    </th>
                                    <th class="bgm-orange c-white text-center w-180 sort" role="button"
                                        data-sort="none" sortName="deadline">
                                        <i data-toggle="tooltip" data-placement="top" data-original-title="Sắp xếp tăng dần"
                                           class="zmdi zmdi-sort-asc"></i>
                                        <i data-toggle="tooltip" data-placement="top" data-original-title="Sắp xếp giảm dần"
                                           class="zmdi zmdi-sort-desc"></i>
                                        <span class="TEXT_DEADLINE"></span>
                                    </th>
                                    <th class="bgm-orange c-white text-center w-180 sort" role="button"
                                        data-sort="none" sortName="updated">
                                        <i data-toggle="tooltip" data-placement="top" data-original-title="Sắp xếp tăng dần"
                                           class="zmdi zmdi-sort-asc"></i>
                                        <i data-toggle="tooltip" data-placement="top" data-original-title="Sắp xếp giảm dần"
                                           class="zmdi zmdi-sort-desc"></i>
                                        <span class="TEXT_UPDATED_DATE"></span>
                                    </th>
                                    <th class="bgm-orange c-white text-center">
                                        <span class="TEXT_UPDATED_BY"></span>
                                    </th>
                                    <th class="bgm-orange c-white text-center w-100">
                                        <span class="TEXT_ACTION"></span>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr class="filter" id="search-input">
                                    <td>
                                        <div>
                                            <select class="selectpicker searchColumn"
                                                    id="company"
                                                    name="company">
                                                <option selected value="">- Chọn -</option>
                                                <% outbound.forEach(function(el){ %>
                                                <option value="<%- el._id %>"><%- el.name %></option>
                                                <% }) %>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <select class="selectpicker searchColumn"
                                                    id="campain"
                                                    name="campain">
                                                <option selected value="">- Chọn -</option>
                                                <% outbound.forEach(function(el){ %>
                                                <% if(el.campain){ %>
                                                <% el.campain.forEach(function(el2){ %>
                                                <option value="<%- el2._id %>"><%- el2.name %></option>
                                                <% })} %>
                                                <% }) %>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <select class="selectpicker searchColumn"
                                                    id="reason"
                                                    name="reason">
                                                <option selected value="">- Chọn -</option>
                                                <% reasons_out.forEach(function(el){ %>
                                                <option value="<%- el._id %>" style="font-weight: bold;"><%- el.name %></option>
                                                <% if(el.reasons){ %>
                                                <% el.reasons.forEach(function(el2){ %>
                                                <option value="<%- (el._id + '-' +el2._id) %>" class="m-l-10"><%- el2.name %></option>
                                                <% if(el2.subreasons){ %>
                                                <% el2.subreasons.forEach(function(el3){ %>
                                                <option value="<%- (el._id + '-' + el2._id +'-' + el3._id) %>" class="m-l-20"><%- el3.name %></option>
                                                <% })} %>
                                                <% })} %>
                                                <% }) %>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <select class="selectpicker searchColumn"
                                                    id="ticket-search-by-status"
                                                    name="status" disabled>
                                                <option value="1" selected>Đang xử lý</option>
                                            </select>
                                        </div>

                                    </td>
                                    <td>
                                        <input type="text" class="form-control input-sm searchColumn"
                                               id="ticket-search-by-phone" name="field_so_dien_thoai"
                                               placeholder="VD: 09xxxxxxxx">
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <input type="text" class="form-control pull-right multi-date-picker searchColumn"
                                                   id="deadline" name="deadline"
                                                   placeholder="Ngày hẹn">
                                            <span class="input-group-addon p-l-10 bgm-gray c-white">
                                                <i role="button" class="zmdi zmdi-calendar"></i></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <input type="text" class="form-control pull-right multi-date-picker searchColumn"
                                                   id="updated" name="updated"
                                                   placeholder="VD: 01/19/2023 9:51 AM">
                                            <span class="input-group-addon p-l-10 bgm-gray c-white">
                                                <i role="button" class="zmdi zmdi-calendar"></i></span>
                                        </div>
                                    </td>
                                    <td><input type="text" class="form-control input-sm searchColumn"
                                               id="updateBy" name="updateBy"
                                               placeholder="Người cập nhật">
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-primary btn-block waves-effect" id="btn-search" name="btn-search">
                                            <i class="zmdi zmdi-filter-list m-r-5"></i> Lọc
                                        </button>
                                    </td>
                                </tr>

                                <tbody id="ticket-body">
                                </tbody>
                                </tbody>
                            </table>
                            <div class="text-center" id="ticket-total"></div>
                            <div class="text-center" id="ticket-paging">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>