
<%-breadcrumb%>
<div class="card">
    <div class="lv-header-alt clearfix">
        <h2 class="lvh-label hidden-xs"><%- title %></h2>

        <ul class="lv-actions actions">
            <li>
                <a id="new-content"
                   data-toggle="tooltip"
                   data-placement="top"
                   data-original-title="Tạo mới tiêu chí">
                    <i class="zmdi zmdi-plus"></i>
                </a>
            </li>
            <li>
                <a href="/#kpi-mark-content"
                   data-toggle="tooltip"
                   data-placement="top"
                   data-original-title="Làm mới danh sách">
                    <i class="zmdi zmdi-refresh"></i>
                </a>
            </li>
            <li class="hidden" id="li-hidden">
                <a role="button" data-toggle="tooltip" data-placement="top"
                   data-original-title="Xóa các mục đánh dấu"
                   id="btn-delSelection">
                    <i class="zmdi zmdi-delete"></i>
                </a>
            </li>
        </ul>
    </div>

    <div class="card-body" style="min-height: 200px">
        <table class="table table-hover table-fix" id="table-kpi-content">
            <thead>
            <tr>
                <th class="w-50 bgm-orange c-white"></th>
                <th class="w-50 bgm-orange c-white">#</th>
                <th class="text-left bgm-orange c-white filter">
                    <span class="KPI_NAME"></span>
                </th>
                <th class="text-center bgm-orange c-white filter w-180">
                    <span class="KPI_TYPE"></span>
                <th class="text-center bgm-orange c-white filter w-180">
                    <span class="KPI_STATUS"></span>
                </th>

                </th>
                <th class="w-120 text-center bgm-orange c-white KPI_ACTION"></th>
            </tr>
            </thead>


            <tbody>
            <tr id="searchForm" class="filter">
                <td class="text-center select-cell">
                    <div class="checkbox m-0">
                        <label>
                            <input name="select" type="checkbox" class="select-box select-box-all c-white" value="all"
                                   id="deleteAll">
                            <i class="input-helper"></i>
                        </label>
                    </div>
                </td>
                <td class="c-white">#</td>
                <td><input class="form-control searchColumn" type="text" id="search_name"
                           name="name"></td>
                <td>
                    <select class="selectpicker searchColumn" name="type" id="search_type">
                        <option value="" selected>-- Chọn --</option>
                        <option value="0" class="KPI_TYPE_NUMBER"></option>
                        <option value="1" class="KPI_TYPE_LIST"></option>
                        <option value="2" class="KPI_TYPE_FUNCTION"></option>
                    </select>
                </td>
                <td>
                    <select class="selectpicker searchColumn" name="status" id="search_status">
                        <option value="" selected>-- Chọn --</option>
                        <option value="0">Không kích hoạt</option>
                        <option value="1">Kích hoạt</option>
                    </select>
                </td>
                <td>
                    <button class="btn btn-primary btn-block waves-effect" id="btn-search" name="btn-search"><i
                                class="zmdi zmdi-search"></i></button>
                </td>
            </tr>

            <% if(kpi.length == 0){ %>
            <script> var kpi = true;</script>
            <% } else{ %>
            <script> var kpi = false;</script>
            <% kpi.forEach(function(element, index) { %>
            <tr>
                <td class="select-cell text-center">
                    <div class="checkbox m-0">
                        <label>
                            <input data-id="<%- element._id %>" name="select" type="checkbox"
                                   class="select-box select-box-cell" value="all">
                            <i class="input-helper"></i>
                        </label>
                    </div>
                </td>
                <td class="text-center index" data-weight="<%- element._id %>"><%- index + 1 %>.</td>
                <td class="truncate"><%- element.name %></td>
                <td>
                    <% if (element.type == 0){ %>
                    <span class="KPI_TYPE_NUMBER"></span>
                    <% } else if (element.type == 1){ %>
                    <span class="KPI_TYPE_LIST"></span>
                    <% } else if (element.type == 2){ %>
                    <span class="KPI_TYPE_FUNCTION"></span>
                    <% } %>
                </td>
                <td>
                    <div class="checkbox text-center" style="margin: 0 auto">
                        <label>
                            <input id="cpIndex" disabled name="cpIndex" type="checkbox"
                                   class="select-box" <%- (element.status ? 'checked' : ''); %> />
                            <i class="input-helper"></i>
                        </label>
                    </div>
                </td>
                <td class="text-center">
                    <a class="p-t-3 btn-flat-bg" data-toggle="tooltip"
                       data-id="<%- element._id %>"
                       data-status="<%- element.status %>"
                       data-name="<%- element.name %>"
                       data-placement="top" data-original-title="Sửa" id="edit-content">
                        <i class="zmdi zmdi-edit green f-17"></i>
                    </a>
                    <a class="btn-remove btn-flat-bg" data-toggle="tooltip" role="button" data-placement="top"
                       data-original-title="Xoá" data-id="<%- element._id %>" name="<%- element.name %>">
                        <i class="zmdi zmdi-close red f-23 "></i>
                    </a>
                </td>
            </tr>
            <% }); %>
            <% } %>
            </tbody>
        </table>
    </div>
</div>