<%- breadcrumb %>


<div class="card">
    <div class="lv-header-alt clearfix">
        <h2 class="lvh-label hidden-xs">Quản lý email tiếp nhận tư vấn</h2>
        <ul class="lv-actions actions">
            <li>
                <!-- <a href="/#articles/new" data-toggle="tooltip" data-placement="top" data-original-title="Tạo mới">
            <i class="zmdi zmdi-plus"></i>
        </a> -->
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12 col-md-12 p-l-30 m-b-50">

                <div class="panel panel-default m-l-10 m-r-10">
                    <div class="panel-heading p-0">
                        <h5 class="panel-title">
                            <div data-id="showCustomer" class="btn-block p-10 bgm-orange c-white text-uppercase">Thông
                                tin liên hệ nhà hàng
                            </div>
                        </h5>
                    </div>

                    <div id="collapseOne" class="panel-collapse collapse in ticketCustomerCollapse">
                        <form class="form-horizontal" role="form" id="frm-mail-complaint">

                            <div class="form-body">
                                <div class="row m-0 p-10">

                                    <div class="panel-heading p-0 border">
                                        <h5 class="panel-title bgm-silver">
                                            <div class="row  flex-box">
                                                <div class="col-md-2 p-5 bgm-blue-ocean c-black text-uppercase text-center"
                                                    data-toggle="collapse" href="#collapse1">Thông tin liên hệ
                                                </div>
                                                <div class="col-md-10 p-5 bgm-blue-ocean c-black text-uppercase text-center"
                                                    data-toggle="collapse" href="#collapse1">Email
                                                </div>
                                            </div>

                                        </h5>
                                    </div>

                                    <div class="panel-body p-5 p-b-10 div-case-history in border m-b-50" id="collapse1">

                                        <div class="row m-20 flex-box">
                                            <label class="control-label col-sm-2 col-md-2 text-left">
                                                BU:
                                            </label>
                                            <div class="col-md-10 col-sm-10 text-left">
                                                <input value="<%=  mailcomplaint ? mailcomplaint.email1 : '' %>"
                                                    class="form-control validate[custom[email]]" type="text" name="email1">
                                            </div>
                                        </div>
                                        <div class="row m-20 flex-box">
                                            <label class="control-label col-sm-2 col-md-2 text-left">
                                                OM:
                                            </label>
                                            <div class="col-md-10 col-sm-10 text-left">
                                                <input value="<%=  mailcomplaint ? mailcomplaint.email2 : '' %>"
                                                    class="form-control validate[custom[email]]" type="text" name="email2">
                                            </div>
                                        </div>
                                        <div class="row m-20 flex-box">
                                            <label class="control-label col-sm-2 col-md-2 text-left">
                                                AM:
                                            </label>
                                            <div class="col-md-10 col-sm-10 text-left">
                                                <input value="<%=  mailcomplaint ? mailcomplaint.email3 : '' %>"
                                                    class="form-control validate[custom[email]]" type="text" name="email3">
                                            </div>
                                        </div>
                                        <div class="row m-20 flex-box">
                                            <label class="control-label col-sm-2 col-md-2 text-left">
                                                MKT:
                                            </label>
                                            <div class="col-md-10 col-sm-10 text-left">
                                                <input value="<%=  mailcomplaint ? mailcomplaint.email4 : '' %>"
                                                    class="form-control validate[custom[email]]" type="text" name="email4">
                                            </div>
                                        </div>

                                        <div class="row m-20 flex-box">
                                            <label class="control-label col-sm-2 col-md-2 text-left">
                                                Ghi chú:
                                            </label>
                                            <div class="col-md-10 col-sm-10 text-left">
                                                <textarea value="" class="form-control" type="text"
                                                    name="note"><%=  mailcomplaint ? mailcomplaint.note : '' %></textarea>
                                            </div>
                                        </div>
                                        <div class="row m-20 flex-box">
                                            <button type="submit" class="btn btn-primary f-12 btn-save waves-effect"
                                                data-id="<%= idRestaurant ? idRestaurant : '' %>" id="btnSave"
                                                data-target="#frm-mail-complaint"><i
                                                    class="zmdi zmdi-check-all m-r-5"></i>Xác
                                                nhận</button>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </form>

                    </div>
                </div>













            </div>
            <!-- <div class="box-loading" style="display: none">
            <div class="box-line-df"></div>
            <div class="box-line-lgx"></div>
            <div class="box-line-lg"></div>
        </div> -->
        </div>
    </div>