<%-breadcrumb%>
<div class="card">
    <div class="lv-header-alt clearfix m-b-5">
        <h2 class="lvh-label hidden-xs"><%- title %></h2>
        <ul class="lv-actions actions">

            <li>
                <a data-toggle="tooltip" data-placement="top" data-original-title="Refresh"><i class="zmdi zmdi-refresh"></i></a>
            </li>
        </ul>
    </div>
    <div class="card-body table-responsive" style="min-height: 500px">
        <form id="mail-campaigns">
            <table class="table table-hover table-bordered table-fix">
                <thead>
                <tr>
                    <th class="text-center bgm-orange c-white w-35"></th>
                    <th role="button" data-sort="none" data-field="name" class="text-center bgm-orange c-white w-300">
                        </th>
                    <th role="button" data-sort="none" data-field="company" class="text-center bgm-orange c-white w-300">
                        </th>
                    <th role="button" data-sort="none" data-field="started" class="text-center bgm-orange c-white w-170">
                        </th>
                    <th role="button" data-sort="none" data-field="amount" class="text-center bgm-orange c-white w-150">
                       </th>
                    <th class="text-center bgm-orange c-white w-100"></th>
                    <th class="text-center bgm-orange c-white w-100"></th>
                </tr>
                </thead>
                <tbody>
                <tr class="row-filter filter">
                    <td class="text-center p-0">
                        <div class="checkbox m-0 m-l-3" data-toggle="tooltip" data-placement="top" data-original-title="Chọn tất cả">
                            <label>
                                <input type="checkbox" id="check-all">
                                <i class="input-helper"></i>
                            </label>
                        </div>
                    </td>
                    <td class="text-center"><input type="text" class="form-control" name="name" id="edit_name"></td>
                    <td class="text-center text-center">
                        <select class="selectpicker" name="company" id="edit_company" multiple data-max-options="1">
                            <% for(var i = 0; i < company.length; i++){ %>
                                <option value="<%- company[i]._id %>"><%- company[i].name %></option>
                            <% } %>
                        </select>
                    </td>
                    <td class="text-center">
                        <div class="input-group"><input type="text" name="started" id="edit_started" class="form-control date-picker"><span class="input-group-addon p-l-10 bgm-gray c-white"><i role="button" class="zmdi zmdi-calendar"></i></span></div>
                    </td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center">
                        <button type="button" class="btn btn-primary btn-block btn-filter"><i class="zmdi zmdi-search"></i></button>
                    </td>
                </tr>
                <%for(var i = 0; i < mails.length; i++){%>
                    <tr>
                        <td class="text-center p-0">
                            <div class="checkbox m-0 m-l-3">
                                <label>
                                    <input type="checkbox" class="check-list" id="<%- mails[i]._id %>">
                                    <i class="input-helper"></i>
                                </label>
                            </div>
                        </td>
                        <td>
                            <%- mails[i].to; %>
                        </td>
                        <td class="text-center">
                            <%- mails[i].from; %>
                        </td>
                        <td class="text-center">
                            <%- _moment(mails[i].created).format('DD/MM/YYYY'); %>
                        </td>
                        <td class="text-center">
                            <%- mails[i].mail_type; %>
                        </td>
                        <td class="text-center"><span id="completed-<%- mails[i]._id; %>"><%- mails[i].readed; %></span></td>
                        <td class="text-center">
                            <%- mails[i].agent; %>

                        </td>
                    </tr>
                <%}%>
                </tbody>
            </table>
        </form>
    </div>
</div>