<%-breadcrumb%>
    <div class="card">
        <div class="card-header">
            <h2 class="m-b-5">
                <%- title %>
            </h2>
            <small class="text-muted"><i>Những trường có dấu <span class="c-red">*</span> là bắt buộc nhập.</i></small>
        </div>
        <div class="card-body card-padding">
            <form role="form" class="form-horizontal" id="add-new-channel">
                <div class="form-group">
                    <label for="group" class="col-sm-3 control-label">Công ty<span class="required">*</span></label>
                    <div class="col-sm-6">
                        <div class="p-relative">
                            <select class="selectpicker" id="idCompany" name="idCompany">
                                <optgroup label="" id="group-company">
                                    <option value='' disabled selected>---- Chọn ----</option>
                                    <% companies.forEach(function(company, i) { %>
                                        <option value="<%- company._id %>">
                                            <%- company.name %>
                                        </option>
                                        <%});%>
                                </optgroup>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="group" class="col-sm-3 control-label">Nhóm agent<span class="required">*</span></label>
                    <div class="col-sm-6">
                      <div class="fg-line select ">
                        <select class="selectpicker validate[required]" id="agentGroups" name="agentGroups[]" multiple data-live=true >
                          <% agentGroups.forEach(function(el, i) {%>
                            <option value="<%- el._id %>">
                              <%- el.name%>
                            </option>
                            <%})%>
                        </select>
                      </div>
                    </div>
                  </div>
                <div class="form-group">
                    <label for="group" class="col-sm-3 control-label">Tên<span class="required">*</span></label>
                    <div class="col-sm-6">
                        <div class="fg-line">
                            <input type="text" class="form-control validate[required]" id="name" name="name"
                                placeholder="VD: Hỗ trợ dự án">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="group" class="col-sm-3 control-label">Tên queue<span class="required">*</span></label>
                    <div class="col-sm-6">
                        <div class="fg-line">
                            <input type="text" class="form-control validate[required]" id="idQueue" name="idQueue"
                                placeholder="VD:1007">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="group" class="col-sm-3 control-label">SLA thời lượng luồng mail<span
                            class="required">*</span></label>
                    <div class="col-sm-6">
                        <div class="fg-line">
                            <input type="number" class="form-control validate[required]" id="slaTimeConversation"
                                name="slaTimeConversation">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="group" class="col-sm-3 control-label">SLA thời gian tiếp nhận
                        <span class="required">*</span></label>
                    <div class="col-sm-6">
                        <div class="fg-line">
                            <input type="number" class="form-control validate[required]" id="slaTimeReceive"
                                name="slaTimeReceive">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="group" class="col-sm-3 control-label">SLA thời gian chờ giữa các mail
                        <span class="required">*</span></label>
                    <div class="col-sm-6">
                        <div class="fg-line">
                            <input type="number" class="form-control validate[required]" id="slaTimeWait"
                                name="slaTimeWait">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="status" class="col-sm-3 control-label">Trạng thái</label>
                    <div class="col-sm-6">
                        <div class="checkbox m-b-15">
                            <label>
                                <input type="checkbox" checked id="status" name="status">
                                <i class="input-helper"></i>
                                <span class="p-l-10" data-text-on="Không kích hoạt" data-text-off="Kích hoạt"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group m-b-0">
                    <div class="col-sm-offset-3 col-sm-10">
                        <a class="btn btn-default btn-icon-text m-t-10 m-r-10 waves-effect waves-effect" id="btn-back"
                            name="btn-back" href="#mail-inbound-channel"><i class="m-r-5 zmdi zmdi-arrow-left"></i>Quay
                            lại</a>
                        <button type="submit" class="btn btn-primary btn-icon-text m-t-10 waves-effect"><i
                                class="m-r-5 zmdi zmdi-plus-circle-o"></i>Xác nhận</button>
                    </div>
                </div>
            </form>
        </div>
    </div>