<%-breadcrumb%>
<script>
    var _agents = JSON.parse('<%- JSON.stringify(agents)%>');
    var _settings = JSON.parse('<%- JSON.stringify(settings)%>');
    var companies = JSON.parse('<%- JSON.stringify(companies)%>');
</script>
<div class="lv-header-alt clearfix">
    <h2 class="lvh-label hidden-xs">
        <%- title %>
    </h2>
    <div class="clearfix"></div>
    <div class="form-body">
        <div class="row m-0 m-t-20 m-b-20">
            <div class="col-md-3">
                <label for="idCompany" class="control-label f-13"><span>Công ty</span></label>
                <select id="idCompany" class="selectpicker input" title="Chọn công ty" multiple>
                    <% for(var i = 0;i < companies.length;i++){ %>
                    <option value=<%- companies[i]._id %>>
                        <%- companies[i].name %>
                    </option>
                    <% } %>
                </select>
            </div>
            <div class="col-md-3">
                <label for="idAgent" class="control-label f-13"><span>Agent</span></label>
                <select id="idAgent" class="selectpicker input" title="Chọn agent" multiple>
                    <% for(var i = 0;i < agents.length;i++){ %>
                    <option value=<%- agents[i]._id %>>
                        <%- agents[i].displayName %>
                    </option>
                    <% } %>
                </select>
            </div>
        </div>
        <div class="row m-0">
            <div class="col-md-4"></div>
            <div class="col-md-4 m-b-20">
                <div class="btn-group btn-group btn-group-justified">
                    <a id="btn-search" class="btn bgm-blue uppercase c-white" style="width:auto"><i class="fa fa-search m-r-10"></i><strong>Tìm
                            kiếm</strong></a>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body table-responsive">
        <table class="table table-bordered table-fix" id="tbl-agent-monitor">
            <thead>
                <tr class="f-12">
                    <th class="bgm-orange c-white text-center text-uppercase">sl agent online</th>
                    <th class="bgm-orange c-white text-center text-uppercase">sl agent offline</th>
                    <th class="bgm-orange c-white text-center text-uppercase">sl agent đang xử lý mail</th>
                    <th class="bgm-orange c-white text-center text-uppercase">sl email nhận</th>
                    <th class="bgm-orange c-white text-center text-uppercase">sl email gửi đi</th>
                    <th class="bgm-orange c-white text-center text-uppercase">sl email đang xử lý</th>
                    <th class="bgm-orange c-white text-center text-uppercase">tỉ lệ phục vụ</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-center" id="total-tab">
                    <td id="sl-agent-online">0</td>
                    <td id="sl-agent-offline">0</td>
                    <td id="sl-agent-dang-xu-ly-mail">0</td>
                    <td id="sl-email-nhan">0</td>
                    <td id="sl-email-gui-di">0</td>
                    <td id="sl-email-dang-xu-ly">0</td>
                    <td id="ti-le-phuc-vu">0%</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="lv-header-alt clearfix">
    <h2 class="lvh-label hidden-xs">
        chi tiết
    </h2>
</div>
<div class="card">
    <div class="card-body table-responsive">
        <table class="table table-bordered table-fix">
            <thead>
                <tr class="f-12">
                    <th class="bgm-orange c-white text-center text-uppercase">đtv</th>
                    <th class="bgm-orange c-white text-center text-uppercase">thời gian phản hồi mail</th>
                    <th class="bgm-orange c-white text-center text-uppercase">số lượng mail nhận</th>
                    <th class="bgm-orange c-white text-center text-uppercase">số lượng mail gửi đi</th>
                    <th class="bgm-orange c-white text-center text-uppercase">số lượng mail chưa xử lý</th>
                    <th class="bgm-orange c-white text-center text-uppercase">số lượng mail đang xử lý</th>
                    <th class="bgm-orange c-white text-center text-uppercase">tỉ lệ phục vụ</th>
                </tr>
            </thead>
            <tbody id="tbl-agent-monitor-detail">
            </tbody>
        </table>
    </div>
</div>
<div class="row" style="margin-bottom: 20px">
    <div class="col-md-4">
        <div class="lv-header-alt clearfix">
            <h2 class="lvh-label hidden-xs">
                THIẾT LẬP CẢNH BÁO
            </h2>
            <table class="table table-fix m-t-20" id="tbl-mail-monitor-warning-setting">
                <tr>
                    <td>Thời gian phản hồi mail</td>
                    <td width="80">không quá</td>
                    <td width="85">
                        <input class="form-control disabled" type="number" min="0" id="input-mail-monitor-warning-tgphm"
                            value="<%- settings.thoiGianPhanHoiMail %>" />
                    </td>
                    <td width="50">phút</td>
                </tr>
                <tr>
                    <td>Số lượng ký tự trong mail</td>
                    <td width="80">không quá</td>
                    <td width="85">
                        <input class="form-control disabled" type="number" min="0" id="input-mail-monitor-warning-slkttm"
                            value="<%- settings.soLuongKyTuTrongMail %>" />
                    </td>
                    <td width="50">ký tự</td>
                </tr>
                <tr>
                    <td>Số lượng agent offline</td>
                    <td width="80">không quá</td>
                    <td width="85">
                        <input class="form-control disabled" type="number" min="0" id="input-mail-monitor-warning-slao"
                            value="<%- settings.soLuongAgentOffline %>" />
                    </td>
                    <td width="50">agent</td>
                </tr>
            </table>
            <div class="row m-t-40">
                <div class="col-md-6 p-r-5">
                    <button type="button" class="btn btn-info btn-block" id="btn-warning-edit">THAY ĐỔI</button>
                </div>
                <div class="col-md-6 p-l-10">
                    <button type="button" class="btn btn-default btn-block disabled hide" id="btn-warning-save">LƯU</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="warning-detail" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="warning-detail-title" class="modal-title text-uppercase">Danh sách email vi phạm</h4>
            </div>
            <div class="modal-body">
                <div id="warning-detail-body" class="card-body" style="max-height: 800px; overflow-y: scroll; overflow-x: hidden">
                    
                </div>
            </div>
            <div class="modal-footer">
                <button id="warning-detail-btn-close" type="button" class="btn btn-default btn-icon-text m-t-10 m-r-10 waves-effect"
                    data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>