<%-breadcrumb%>
<div class="card">

    <div class="lv-header-alt clearfix m-b-5">
        <h2 class="lvh-label hidden-xs">Danh sách email</h2>
        <ul class="lv-actions actions">
            <li>
                <a class="btn-delete-all" role="button" data-toggle="tooltip" data-placement="top" data-original-title="Xoá các mục đã chọn">
                    <i class="zmdi zmdi-delete c-red"></i>
                </a>
            </li>
            <li class="dropdown" data-toggle="tooltip" data-placement="top" data-original-title="Tạo mới">
                <a role="button" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
                    <i class="zmdi zmdi-plus"></i>
                </a>

                <ul class="dropdown-menu pull-right">
                    <li><a href="/#mail/new"><i class="fa fa-user-plus m-r-5"></i>Trực tiếp</a></li>
                    <!--<li><a href="/#customer-import"><i class="fa fa-file-excel-o m-r-10"></i>Từ nguồn excel</a></li>-->
                </ul>
            </li>
            <li><a data-toggle="tooltip" data-placement="top" data-original-title="Refresh"><i class="zmdi zmdi-refresh"></i></a>
            </li>
        </ul>
    </div>
    <div class="card-body table-responsive" style="min-height: 500px">
        <form id="mail">
            <table class="table table-hover table-bordered table-fix">
                <thead>
                <tr>
                    <th class="text-center bgm-orange c-white w-10"></th>
                    <th data-sort="from" role="button" class="text-center bgm-orange c-white w-80">Người gửi</th>
                    <th data-sort="to" role="button" class="text-center bgm-orange c-white w-80">Người nhận</th>
                    <th data-sort="subject" role="button" class="text-center bgm-orange c-white w-100">Tiêu đề</th>
                    <th class="text-center bgm-orange c-white w-100">Nội dung</th>
                    <th data-sort="process_date" role="button" class="text-center bgm-orange c-white w-60">Ngày tháng</th>
                    <th class="text-center bgm-orange c-white w-30">Tác vụ</th>
                </tr>
                </thead>
                <tbody>
                <tr class="row-filter filter">
                    <td class="text-center p-0">
                        <div class="checkbox m-0 m-l-3" data-toggle="tooltip" data-placement="top" data-original-title="Chọn tất cả">
                            <label>
                                <input type="checkbox" id="check-all" />
                                <i class="input-helper"></i>
                            </label>
                        </div>
                    </td>
                    <td class="text-center">
                        <input type="email" name="from" class="form-control"/>
                    </td>
                    <td class="text-center">
                        <input type="email" name="to" class="form-control"/>
                    </td>
                    <td class="text-center">
                        <input type="text" name="subject" class="form-control"/>
                    </td>
                    <td class="text-center">
                       <input type="text" name="body" class="form-control"/>
                    </td>
                    <td class="text-center">
                        <input type="text" name="created" class="form-control"/>
                    </td>
                    <td class="text-center">
                        <button type="button" class="btn btn-primary btn-block btn-filter"><i class="zmdi zmdi-search"></i></button>
                    </td>
                </tr>
                <% for(var i = 0; i < mails.length; i++){ %>
                <tr>
                    <td class="text-center p-0">
                        <div class="checkbox m-0 m-l-3">
                            <label>
                                <input type="checkbox" id="check-<%- mails[i]._id %>" />
                                <i class="input-helper"></i>
                            </label>
                        </div>
                    </td>
                    <td class=""><%- mails[i].from %></td>
                    <td class=""><%- mails[i].to %></td>
                    <td class=""><%- mails[i].subject %></td>
                    <td class=""><%- mails[i].body %></td>
                    <td class="text-center f-12"><%- _moment(mails[i].sentDate).format('DD/MM/YYYY HH:mm A');%></td>
                    <td class="text-center">

                    </td>
                </tr>
                <%}%>
                </tbody>
            </table>
        </form>
    </div>
</div>

