<%- breadcrumb %>
<script>
    var isEdit = JSON.parse(`<%- isEdit%>`)
</script>
<div class="card">
    <div class="portlet-title">
        <div class="lv-header-alt clearfix">
            <h2 class="lvh-label hidden-xs">Quản lý phiếu khiếu nại</h2>
        </div>
        <div class="searchBox">
            <h3 class="c-white title">TRA CỨU</h3>
            <form class="form-horizontal" role="form">
                <div class="form-body">
                    <input type="hidden" value="<%- idCustomer%>" name="idCustomer" class="input">
                    <div class="row m-0 ">
                        <div class="col-md-3 ">
                            <label for="created" class="control-label f-13"><span>Thời gian tạo phiếu</span></label>
                            <div class="input-group">
                                <input type="text"
                                    class="form-control pull-right search-field multi-date-picker filter-campain input"
                                    id="created" name="created" placeholder=" VD: 01/01/2020">
                                <span class="input-group-addon p-l-10 bgm-gray c-white"><i role="button"
                                        class="zmdi zmdi-calendar"></i></span>
                            </div>
                        </div>
                        <div class="col-md-3 ">
                            <label for="complaintTypeId" class="control-label f-13"><span>Loại khiếu nại</span></label>
                            <select name="complaintTypeId" class="selectpicker input" data-live-search="true"
                                data-actions-box="true" title="Chọn loại khiếu nại" multiple>
        
                                <%complaintCategory.forEach(function(item){%>
                                <option value="<%- item._id%>"><%- item.nameComplaint%></option>
                                <%})%>
                            </select>
                        </div>
                        <div class="col-md-3 ">
                            <label for="problemId" class="control-label f-13"><span>Vấn đề gặp phải</span></label>
                            <select name="problemId" class="selectpicker input" data-live-search="true"
                                data-actions-box="true" title="Chọn vấn đề gặp phải" multiple>
        
                                <%problemCategory.forEach(function(item){%>
                                <option value="<%- item._id%>"><%- item.nameProblem%></option>
                                <%})%>
                            </select>
                        </div>
                        <div class="col-md-3 ">
                            <label for="customerPhone" class="control-label f-13"><span>Số điện thoại</span></label>
                            <input class="form-control input" name="customerPhone" type="text"
                                placeholder="Nhập SĐT khách hàng">
                        </div>
                    </div>
                    <div class="row m-0 ">
                        <div class="col-md-3 ">
                            <label for="customerName" class="control-label f-13"><span>Khách hàng</span></label>
                            <input class="form-control input" name="customerName" type="text"
                                placeholder="Nhập tên khách hàng">
                        </div>
                        <div class="col-md-3 ">
                            <label for="agentId" class="control-label f-13"><span>Agent</span></label>
                            <select name="agentId" class="selectpicker input" data-live-search="true"
                                data-actions-box="true" title="Chọn điện thoại viên" multiple>
        
                                <%agent.forEach(function(item){%>
                                <option value="<%- item._id%>"><%- item.displayName%></option>
                                <%})%>
                            </select>
                        </div>
                        <div class="col-md-3 ">
                            <label for="status" class="control-label f-13"><span>Trạng thái</span></label>
                            <select name="status" class="selectpicker input" title="Chọn trạng thái" multiple>
        
                                <option value="0">Đang xử lý</option>
                                <option value="1">Tạm dừng xử lý</option>
                                <option value="2">Đã xử lý</option>
                            </select>
                        </div>
                        <div class="col-md-3 ">
                            <label for="brand" class="control-label f-13"><span>Nhãn hiệu</span></label>
                            <select name="brand" class="selectpicker input" data-live-search="true"
                                data-actions-box="true" title="Chọn nhãn hiệu" multiple>
        
                                <%brands.forEach(function(item){%>
                                <option value="<%- item._id%>"><%- item.name%></option>
                                <%})%>
                            </select>
                        </div>
                    </div>
                    <div class="row m-0 ">
                        <div class="col-md-3 ">
                            <label for="provinceId" class="control-label f-13"><span>Tỉnh thành</span></label>
                            <select name="provinceId" class="selectpicker input" data-live-search="true"
                                data-actions-box="true" title="Chọn tỉnh thành" multiple>
        
                                <%provinces.forEach(function(item){%>
                                <option value="<%- item._id%>"><%- item.name%></option>
                                <%})%>
                            </select>
                        </div>
                        <div class="col-md-3 ">
                            <label for="restaurantId" class="control-label f-13"><span>Nhà hàng</span></label>
                            <select name="restaurantId" class="selectpicker input" data-live-search="true"
                                data-actions-box="true" title="Chọn nhà hàng" multiple>
        
                                <%restaurants.forEach(function(item){%>
                                <option value="<%- item._id%>"><%- item.name%></option>
                                <%})%>
                            </select>
                        </div>
                        <div class="col-md-3 ">
                            <label for="deadline" class="control-label f-13"><span>Thời hạn xử lý</span></label>
                            <div class="input-group">
                                <input type="text"
                                    class="form-control pull-right search-field multi-date-picker filter-campain input"
                                    id="deadline" name="deadline" placeholder=" VD: 01/01/2020">
                                <span class="input-group-addon p-l-10 bgm-gray c-white"><i role="button"
                                        class="zmdi zmdi-calendar"></i></span>
                            </div>
                        </div>
                        <div class="col-md-3 ">
                            <label for="content" class="control-label f-13"><span>Nội dung khiếu nại</span></label>
                            <input class="form-control input" name="content" type="text"
                                placeholder="Nhập nội dung khiếu nại">
                        </div>
                    </div>
                    <div class="row m-0 m-t-20">
                        <div class="col-md-5"></div>
                        <div class="col-md-2 m-b-20">
                            <div class="btn-group btn-group btn-group-justified">
                                <a type="submit" class="btn btn-success uppercase c-white" style="width:auto"><i
                                        class="fa fa-search m-r-10"></i><strong>Tra cứu</strong></a>
                            </div>
                        </div>
                        <div class="col-md-5"></div>
                    </div>
                </div>
            </form>
        </div>

    </div>
    <script>
    </script>
        <div class="row m-t-5 m-b-5 m-r-20 text-right">
            <button class="btn btn-sm btn-primary" id="btn-new-complaint" data-toggle="modal"
                data-target="#newComlaintPopup"><i class="fa fa-plus"></i> Tạo mới khiếu nại</button>

                <button class="btn btn-sm btn-primary" id="btn-addTicketComplaint"> <a href="/#manage-ticket-complaint/new"
                    data-toggle="tooltip" class="c-white" data-placement="top" id="addTicketComplaint"
                    data-original-title="Tạo mới"><i class="fa fa-plus m-r-5"></i>Tạo mới khiếu nại </a></button>

        </div>
    <div class="card-body table-responsive" style=" min-height:200px">
        <table class="table table-bordered table-fix" id="exceldata">
            <thead>
                <tr>
                    <th class="bgm-orange c-white text-center">Loại khiếu nại</th>
                    <th class="bgm-orange c-white text-center">Vấn đề gặp phải</th>
                    <th class="bgm-orange c-white text-center">Nội dung khiếu nại</th>
                    <th class="bgm-orange c-white text-center">Khách hàng
                    </th>
                    <th class="bgm-orange c-white text-center">Số điện thoại
                    </th>
                    <th class="bgm-orange c-white text-center">Agent</th>
                    <th class="bgm-orange c-white text-center">Nhà hàng
                    </th>
                    <th class="bgm-orange c-white text-center">Trạng thái</th>
                    <th class="bgm-orange c-white text-center">Thời gian tạo phiếu</th>
                    <th class="bgm-orange c-white text-center">Thời hạn xử lý
                    </th>
                    <th class="bgm-orange c-white text-center">Tác vụ
                    </th>
                </tr>
            </thead>
            <tbody id="tbBody">

            </tbody>
        </table>
        <div class="text-center" id="paging"></div>
        <div id="container"></div>
    </div>
</div>