<%- breadcrumb %>
<script>
    var isRoleAgent = '<%- JSON.stringify(isRoleAgent)%>';
</script>

<% 
var fileType = ['xlsx', 'xls', 'docx', 'doc']
var _url = function (f) {
    var extendfile = f.url.split('.').pop()
    var _tag = '';
    switch (fileType.indexOf(extendfile) == -1) {
        case false:
            _tag = '' +
                '<a href=https://docs.google.com/viewer?embedded=true&url=' + _urlUpload + encodeURIComponent(f.url) + ' target="_blank">'+ decodeURIComponent(f.name) +'</a>';               
            break;
        case true:
            if (extendfile == 'pdf') {
                _tag = '' +
                '<a href='+ encodeURIComponent(f.url) +' target="_blank">'+ decodeURIComponent(f.name) +'</a>'
            } else {
                _tag = '' +
                '<a href='+ encodeURIComponent(f.url) + ' download>'+ decodeURIComponent(f.name) +'</a>'
            }
            break;
    }
    return _tag;
}
%>

<div class="card">
    <div class="lv-header-alt clearfix">
        <h2 class="lvh-label hidden-xs d-none"></h2>
        <ul class="lv-actions actions">
            <!-- <li>
                <button class="btn btn-danger btn-block waves-effect" id="btn-create-restaurant" name="btn-create-restaurant"
                    data-toggle="modal" href="#news_support" type="button">
                    Thêm nhãn hiệu
                </button>
            </li>
            <li>
                <button class="btn btn-primary btn-block waves-effect" id="btn-create-restaurant"
                    name="btn-create-restaurant" data-toggle="modal" href="#news_support" type="button">
                    Thêm nhà hàng
                </button>
            </li>
            <li class="hidden" id="li-hidden">
                <a role="button" data-toggle="tooltip" data-placement="top" data-original-title="Xóa các mục đánh dấu"
                    id="btn-delSelection">
                    <i class="zmdi zmdi-delete"></i>
                </a>
            </li> -->
        </ul>
    </div>

    <!-- start card filter dữ liệu -->
    <div class="card m-15">

        <div class="panel panel-default">

            <div class="panel-heading p-0" id="product-anchor">
                <h5 class="panel-title">
                    <div data-id="showCustomer" class="btn-block p-10 bgm-green c-white text-uppercase ">
                        <%- title %>
                        <span id="btn-toggle-filter" class="d-none"
                            style="float:right;cursor: pointer;text-transform: none">
                            Lọc dữ liệu <i class="fa fa-chevron-circle-down"></i>
                        </span>
                    </div>

                </h5>
            </div>

            <div class="panel-body p-30 p-b-15">
                <div class="panel-filter" id="transaction-filter">
                    <div class="row form-group">

                        <div class="col-12">
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="searchByName" class="control-label">Nhập nội dung tra cứu</label>
                                </div>
                                <div class="col-md-6">
                                    <div class="fg-line">
                                        <input type="text" value="" class="form-control input" id="searchByName"
                                            name="searchByName">
                                    </div>

                                    <!-- <div class="input-group m-b-5">
                                        <span class="input-group-addon p-l-10 bgm-gray c-white">
                                            <i role="button" class="zmdi zmdi-search" id="btnSearchByName"></i>
                                        </span>
                                        <input class="form-control filter" type="text" id="searchByName" name="searchByName">
                                    </div> -->
                                </div>

                                <button class="btn btn-gray waves-effect bgm-gray c-white" id="btn-search">
                                    <i class="zmdi zmdi-search"></i>
                                </button>
                                <button class="btn btn-gray waves-effect bgm-gray c-white" id="btnSearchAdvanced"
                                    data-toggle="collapse" data-target="#fieldSearchAdvanced">Nâng cao <i
                                        class="zmdi zmdi-chevron-down"></i>
                                </button>
                            </div>

                        </div>


                        <div class="row form-group collapse out p-t-30 m-b-0" id="fieldSearchAdvanced">

                            <div class="col-md-3 p-r-0">
                                <label for="news_support_idBrand" class="control-label">Chọn nhãn hiệu</label>
                                <select id="news_support_idBrand" name="news_support_idBrand" class="selectpicker input"
                                    data-live-search="true" data-actions-box="true" multiple>
                                    <% for(var i = 0; i < data.brands.length; i++) {%>
                                    <option class="list-group-item" value="<%- data.brands[i]._id %>">
                                        <%- data.brands[i].name%>
                                    </option>
                                    <%}%>
                                </select>
                            </div>
                            <div class="col-md-3 p-r-0">
                                <label for="news_support_area" class="control-label">Chọn khu vực </label>
                                <select id="news_support_area" name="news_support_area" class="selectpicker input" data-live-search="true" data-actions-box="true" multiple>
                                <% for(var i = 0; i < areas.length; i++) {%>
                                    <option class="list-group-item" value="<%- areas[i].value %>">
                                        <%- areas[i].name%>
                                    </option>
                                    <%}%>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label for="news_support_idProvince" class="control-label">Chọn tỉnh thành</label>
                                <select id="news_support_idProvince" name="news_support_idProvince" class="selectpicker input" data-live-search="true" data-actions-box="true" multiple>
                                </select>
                            </div>
    
                            <div class="col-md-3">
                                <label for="news_support_idRestaurant" class="control-label">Nhà hàng</label>
                                <select id="news_support_idRestaurant" name="news_support_idRestaurant" class="selectpicker input" data-live-search="true" data-actions-box="true" multiple>
                                </select>
                            </div>
                            
                            <div class="col-md-12 text-center m-t-15">
                                <button class="btn btn-primary waves-effect" id="searchPromotion"
                                    name="searchPromotion" type="button">
                                    Tra cứu
                                </button>
                            </div>

                        </div>
                        
                    </div>

                    </div>
                    <div class="clearfix"></div>
                </div>

            </div>
        </div>

    <!-- </div> -->
    <!-- end card filter dữ liệu -->


    <!-- start card danh sách file đính kèm -->
    <div class="card m-15">

        <div class="panel panel-default">

            <div class="panel-heading p-0" id="product-anchor">
                <h5 class="panel-title">
                    <div data-id="showCustomer" class="btn-block p-10 bgm-green c-white text-uppercase d-none">
                        Văn bản - Tài liệu
                        <span id="btn-toggle-filter" class="d-none"
                            style="float:right;cursor: pointer;text-transform: none">
                            Lọc dữ liệu <i class="fa fa-chevron-circle-down"></i>
                        </span>
                    </div>

                </h5>
            </div>

            <div class="panel-body p-15" id="form-news-manager">
                <div class="panel-filter" id="transaction-filter">

                    <div class="row d-none">
                        <div class="col-md-12">
                            <input id="file" class=""
                                 multiple type="file"/>
                            <button class="btn btn-primary pull-right waves-effect m-b-15" id="importFile"
                                name="importFile" data-toggle="modal" href="#" type="button">
                                Import File
                            </button>
                        </div>
                    </div>

                    <table id="tblNews" data-type="cquest" data-unique-id="id" data-toggle="table"
                        data-filter-control="true" data-pagination="true" data-page-size="15"
                        class="table table-fix table-bordered f-13 table-customize">
                        <thead>
                            <tr>
                                <th data-field="name" data-filter-control="input" data-sortable="true"
                                    style="background-color: rgba(237, 236, 236, 0.6);">
                                    <i class="zmdi zmdi-account c-gray f-14 p-relative t-1 m-r-10 d-none">
                                    </i>Tiêu đề
                                </th>
                                <th data-field="updated" data-filter-control="input" data-sortable="true"
                                    style="background-color: rgba(237, 236, 236, 0.6);"><i
                                        class="zmdi zmdi-globe c-gray f-14 p-relative t-1 m-r-5 d-none"></i>nội dung
                                </th>
                                <th data-field="updated" data-filter-control="input" data-sortable="true"
                                    style="background-color: rgba(237, 236, 236, 0.6);"><i
                                        class="zmdi zmdi-globe c-gray f-14 p-relative t-1 m-r-5 d-none"></i>Brand
                                </th>
                                <th data-field="updated" data-filter-control="input" data-sortable="true"
                                    style="background-color: rgba(237, 236, 236, 0.6);"><i
                                        class="zmdi zmdi-globe c-gray f-14 p-relative t-1 m-r-5 d-none"></i>Khu vực
                                </th>
                                <th data-field="updated" data-filter-control="input" data-sortable="true"
                                    style="background-color: rgba(237, 236, 236, 0.6);"><i
                                        class="zmdi zmdi-globe c-gray f-14 p-relative t-1 m-r-5 d-none"></i>Tỉnh thành
                                </th>
                                <th data-field="updated" data-filter-control="input" data-sortable="true"
                                    style="background-color: rgba(237, 236, 236, 0.6);"><i
                                        class="zmdi zmdi-globe c-gray f-14 p-relative t-1 m-r-5 d-none"></i>Nhà Hàng
                                </th>
                                <th data-field="fileName" style="background-color: rgba(237, 236, 236, 0.6);"><i
                                        class="zmdi zmdi-time c-gray f-14 p-relative t-1 m-r-5 d-none"></i> File đính kèm
                                </th>
                                <th data-field="actions" style="background-color: rgba(237, 236, 236, 0.6);"><i
                                        class="zmdi zmdi-eye c-gray f-14 p-relative t-1 m-r-5 d-none"></i>Tác vụ
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <!--  -->
                            <% for(var i = 0; i < data.news.length; i++) {%>
                                    <% var fileNames = data.news[i].fileObjects ?  data.news[i].fileObjects.map(j => _url(j)).join("<br/>") : '';
                                    var brandName = data.news[i].brand;
                                    var provinceName = data.news[i].province;
                                    var typeArea = data.news[i].typeArea;
                                    var restaurantName = data.news[i].restaurant;
                                %>

                                    <tr>
                                        <td><%- data.news[i].title%></td>
                                        <td><%- data.news[i].content%></td>
                                        <td><%- brandName%></td>
                                        <td><%- getTextByTypeArea(typeArea)%></td>
                                        <td><%- provinceName%></td>
                                        <td><%- restaurantName%></td>
                                        <td><%- fileNames%></td>
                                        <td class="text-center">
                                            <% if(!isRoleAgent) { %>
                                            <i class="fa fa-pencil text-primary f-18 edit-news"
                                                data-id="<%-data.news[i]._id%>"></i>
                                            <i class="zmdi zmdi-close-circle text-danger f-18 delete-news d-none"
                                                data-id="<%-data.news[i]._id%>"></i>
                                            <% }else { %>
                                            <i class="fa fa-eye text-primary f-18 show-news"
                                                data-id="<%-data.news[i]._id%>"></i>
                                            <% } %>
                                        </td>
                                    </tr>
                                    <%}%>
                        </tbody>
                    </table>

                    <div class="text-center" id="paging"></div>
                    <div id="container">
                     </div>


                        <div class="clearfix"></div>
                    </div>

                </div>
            </div>

        </div>
        <!-- end card danh sách file đính kèm -->

    </div>