<%- breadcrumb %>
<script>
    var newsCurrentID = `<%-data._id%>`;
    var filesData = JSON.parse(decodeURIComponent(`<%- encodeURIComponent(JSON.stringify(data.files)); %>`));
    var _urlUpload = JSON.parse('<%- JSON.stringify(_url) %>');
</script>

<div class="card">
    <div class="lv-header-alt clearfix">
        <h2 class="lvh-label hidden-xs d-none"></h2>
        <ul class="lv-actions actions">
            <!-- <li>
                <button class="btn btn-danger btn-block waves-effect" id="btn-create-restaurant" name="btn-create-restaurant"
                    data-toggle="modal" href="#modal_create_restaurant" type="button">
                    Thêm nhãn hiệu
                </button>
            </li>
            <li>
                <button class="btn btn-primary btn-block waves-effect" id="btn-create-restaurant"
                    name="btn-create-restaurant" data-toggle="modal" href="#modal_create_restaurant" type="button">
                    Thêm nhà hàng
                </button>
            </li>
            <li class="hidden" id="li-hidden">
                <a role="button" data-toggle="tooltip" data-placement="top" data-original-title="Xóa các mục đánh dấu"
                    id="btn-delSelection">
                    <i class="zmdi zmdi-delete"></i>
                </a>
            </li> -->
        </ul>
    </div>

    <!-- start card filter dữ liệu -->
    <div class="card m-15">

        <div class="panel panel-default">

            <div class="panel-heading p-0" id="product-anchor">
                <h5 class="panel-title">
                    <div data-id="showCustomer" class="btn-block p-10 bgm-green c-white text-uppercase ">
                        <%- title %>
                        <span id="btn-toggle-filter" class="d-none"
                            style="float:right;cursor: pointer;text-transform: none">
                            Lọc dữ liệu <i class="fa fa-chevron-circle-down"></i>
                        </span>
                    </div>

                </h5>
            </div>

            <div class="panel-body p-30 p-b-15">
                <div class="panel-filter" id="transaction-filter">
                    <div class="row form-group">
                        <div class="col-xs-4 col-sm-12 col-md-12 m-b-15">
                            <label for="title" class="control-label f-13">Tiêu đề</label>
                            <input type="text" class="form-control input-sm" id="title" name="title" placeholder=""
                                value="<%- data.title%>">
                        </div>
                        <div class="col-xs-8 col-sm-12 col-md-12">
                            <label for="content" class="control-label f-13">Nội dung</label>
                            <textarea class="form-control" id="content"
                                name="content"><%- data.content%></textarea>
                        </div>

                        <!-- <div class="col-md-12">
                            <div class="row">
                                <label for="searchByName" class="control-label">Nhập nội dung tra
                                    cứu</label>
                                <div class="col-sm-6">
                                    <div class="fg-line">
                                        <input type="text" value="" class="form-control input-sm required"
                                            id="searchByName" name="searchByName">
                                    </div>
                                </div>

                            </div>
                        </div> -->

                    </div>
                    <div class="clearfix"></div>
                </div>

            </div>
        </div>

    </div>
    <!-- end card filter dữ liệu -->


    <div class="card m-15">

        <div class="panel panel-default">

            <div class="panel-heading p-0" id="product-anchor">
                <h5 class="panel-title">
                    <div data-id="showCustomer" class="btn-block p-10 bgm-green c-white text-uppercase ">
                        Văn bản - Tài liệu
                        <span id="btn-toggle-filter" class="d-none"
                            style="float:right;cursor: pointer;text-transform: none">
                            Lọc dữ liệu <i class="fa fa-chevron-circle-down"></i>
                        </span>
                    </div>

                </h5>
            </div>

            <div class="panel-body p-15">
                <div class="panel-filter" id="transaction-filter">

                    <div class="row">
                        <div class="col-md-12">
                            <!-- <input id="file" class="d-none"
                                 multiple type="file"/>
                            <button class="btn btn-primary pull-right waves-effect m-b-15" id="importFile"
                                name="importFile" data-toggle="modal" href="#" type="button">
                                Import File
                            </button> -->

                            <div class="input-group pull-right m-b-10">
                                <a href="javascript:void(0)" onclick="$(`#btnUploadFile`).click()">
                                    <span class="btn btn-default btn-info btn-sm btn-file m-r-10 waves-effect">
                                        <span class="fileinput-new">
                                            <i class="zmdi zmdi-upload p-r-10 w-13"></i>
                                            Chọn file
                                        </span>
                                    </span>
                                </a>
                                <input type="file" id="btnUploadFile" name="" style="display: none"
                                    class="form-control orange" data-show="uploadFile" multiple>
                            </div>
                        </div>
                    </div>


                    <table cellspacing="0" cellpadding="0">
                        <tr>
                            <td>

                                <table id="tblListFile" data-type="cquest" data-unique-id="id" data-toggle="table"
                                    data-filter-control="true" data-pagination="true" data-page-size="15"
                                    class="table table-fix table-bordered f-13 table-customize">
                                    <thead>
                                        <tr>
                                            <th data-field="name" data-filter-control="input" data-sortable="true"
                                                style="background-color: rgba(237, 236, 236, 0.6);width: 31%;">
                                                <i class="zmdi zmdi-account c-gray f-14 p-relative t-1 m-r-10 d-none">
                                                </i>Tài liệu
                                            </th>
                                            <th data-field="updated" data-filter-control="input" data-sortable="true"
                                                style="background-color: rgba(237, 236, 236, 0.6);width: 20%;"><i
                                                    class="zmdi zmdi-globe c-gray f-14 p-relative t-1 m-r-5 d-none"></i>Thời
                                                gian cập nhật
                                            </th>
                                            <th data-field="fileName"
                                                style="background-color: rgba(237, 236, 236, 0.6);width: 40%;"><i
                                                    class="zmdi zmdi-time c-gray f-14 p-relative t-1 m-r-5 d-none"></i>
                                                File đính kèm
                                            </th>
                                            <th data-field="actions"
                                                style="background-color: rgba(237, 236, 236, 0.6);width: 9%;"><i
                                                    class="zmdi zmdi-eye c-gray f-14 p-relative t-1 m-r-5 d-none"></i>Tác
                                                vụ
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="overflow-scroll">
                                    <table id="showListFile" class="table table-striped" cellspacing="0"
                                        cellpadding="1">

                                    </table>
                                </div>
                            </td>
                        </tr>
                    </table>

                </div>

            </div>

        </div>


    </div>

    <div class="card m-15 p-b-20">
        <div class="text-center col-sm-12 col-md-12 text-center">
            <button type="button" class="btn btn-primary waves-effect" id="btnUpdateNew" data-id="<%-data._id%>">
                Xác nhận
            </button>
        </div>
        <div class="clearfix"></div>
    </div>

</div>