<%-breadcrumb%>
<div class="card">
    <div class="lv-header-alt clearfix m-b-5">
        <h2 class="lvh-label hidden-xs"><%- title %></h2>
        <ul class="lv-actions actions">
            <li><a data-toggle="tooltip" data-placement="top" data-original-title="Tải file báo cáo" id="download-excel"><i
                            class="zmdi zmdi-cloud-download"></i></a></li>
            <li><a data-toggle="tooltip" data-placement="top" data-original-title="Refresh"><i
                            class="zmdi zmdi-refresh"></i></a></li>
            <li data-toggle="tooltip" data-placement="top" data-original-title="Cột hiển thị" class="dropdown">
                <a role="button" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
                    <i class="zmdi zmdi-view-column"></i>
                </a>
                <ul class="dropdown-menu pull-right p-t-0" id="showHideFields"></ul>
            </li>
        </ul>
    </div>
    <script>
        var recordPath = JSON.parse('<%- JSON.stringify(recordPath);%>');
    </script>
    <div class="panel panel-default">
        <div>
            <div class="panel-body p-0 c-overflow">
                <div class="tab-content">
                    <div role="tabpanel" style="height: 100%" class="tab-pane animated active">
                        <form role="form" id="frm-report-call-monitor">
                            <table class="table table-bordered table-fix" id="tbl-ticket">
                                <thead>
                                <tr>
                                    <th class="bgm-orange c-white text-center">
                                        <span class="TXT_CALL_TYPE"></span>
                                    </th>
                                    <th class="bgm-orange c-white text-center">
                                        <span class="TXT_AGENT"></span>
                                    </th>
                                    <th class="bgm-orange c-white text-center">
                                        <span class="TXT_EXTENSION"></span>
                                    </th>
                                    <th class="bgm-orange c-white text-center">
                                        <span class="TXT_PHONE_NUMBER"></span>
                                    </th>
                                    <th data-sort="none" sortName="startTime" role="button" class="bgm-orange c-white text-center sort">
                                        <i data-toggle="tooltip" data-original-title="Sắp xếp theo thứ tự tăng dần" class="zmdi zmdi-sort-asc f-14"></i>
                                        <i data-toggle="tooltip" data-original-title="Sắp xếp theo thứ tự giảm dần" class="zmdi zmdi-sort-desc f-14"></i>
                                        <span class="TXT_DATE"></span>
                                    </th>
                                    <th class="bgm-orange c-white text-center">
                                        <span class="TXT_START_TIME"></span>
                                    </th>
                                    <th class="bgm-orange c-white text-center">
                                        <span class="TXT_END_TIME"></span>
                                    </th>
                                    <th data-sort="none" sortName="callDuration" role="button" class="bgm-orange c-white text-center sort">
                                        <i data-toggle="tooltip" data-original-title="Sắp xếp theo thứ tự tăng dần" class="zmdi zmdi-sort-asc f-14"></i>
                                        <i data-toggle="tooltip" data-original-title="Sắp xếp theo thứ tự giảm dần" class="zmdi zmdi-sort-desc f-14"></i>
                                        <span class="TXT_SERVICED_TIME"></span>
                                    </th>
                                    <th class="bgm-orange c-white text-center">
                                        <span class="TXT_ACTION"></span>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr class="filter" id="search-input">
                                    <td>
                                        <div>
                                            <select class="tag-select searchColumn" name="transType">
                                                <option selected value="">- Chọn -</option>
                                                <option value="1">Gọi vào</option>
                                                <option value="6">Gọi ra</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <select class="selectpicker searchColumn" multiple name="agentId">
                                            <option disabled value="">- Chọn -</option>
                                            <% myUsers.forEach(function(el){ %>
                                            <option value="<%- el._id %>"><%- el.displayName + ' (' + el.name + ')' %></option>
                                            <% }) %>
                                        </select>
                                    </td>
                                    <td>
                                        <input type="number"
                                               class="form-control input-sm searchColumn"
                                               name="deviceId">
                                    </td>
                                    <td>
                                        <input type="text"
                                               class="form-control input-sm searchColumn"
                                               name="phone">
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <input type="text" class="form-control pull-right multi-date-picker searchColumn"
                                                   id="date" name="date"
                                                   placeholder="VD: 01/19/2016">
                                            <span class="input-group-addon p-l-10 bgm-gray c-white">
                                                <i role="button" class="zmdi zmdi-calendar"></i></span>
                                        </div>
                                    </td>
                                    <td><input type="text" class="form-control" disabled></td>
                                    <td><input type="text" class="form-control" disabled></td>
                                    <td><input type="text" class="form-control" disabled></td>
                                    <td>
                                        <button type="button" class="btn btn-primary btn-block waves-effect" id="btn-search" name="btn-search">
                                            <i class="zmdi zmdi-filter-list m-r-5"></i> Lọc
                                        </button>
                                    </td>
                                </tr>

                                <tbody id="ticket-body">
                                </tbody>
                                </tbody>
                            </table>
                            <div class="text-center" id="ticket-total">
                                <!--<b>-->
                                <!--<span class="TXT_TOTAL"></span>:-->
                                <!--<span class="bold c-red" id="ticket-total">100</span>-->
                                <!--</b>-->
                            </div>
                            <div class="text-center" id="ticket-paging"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>