<%-breadcrumb%>
<div class="card">
    <div class="portlet-title">
        <div class="lv-header-alt clearfix m-l-10">
            <h2 class="lvh-label hidden-xs">
                <%= title %>
            </h2>
            <ul class="lv-actions actions">
                <!-- <li>
                    <a href="/#ticket-advisory/new" data-toggle="tooltip" data-placement="top" id="addTernal"
                        data-original-title="Tạo mới">
                        <i class="zmdi zmdi-plus"></i>
                    </a>
                </li> -->
                <li>
                    <a data-toggle="tooltip" data-placement="top" data-original-title="Refresh" id="reload"><i
                            class="zmdi zmdi-refresh"></i></a>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>


        <div class="panel panel-default m-l-30 m-r-30">
            <div class="panel-heading p-0 box-shadow">
                <h5 class="panel-title p-l-10">
                    <div data-id="showCustomer" class="btn-block p-10 bgm-orange c-white text-uppercase">Tra cứu</div>
                </h5>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in ticketCustomerCollapse box-shadow1">
                <div id="form-filter">
                    <div class="form-body">
                        <div class="row m-l-0 m-r-0 p-10  p-t-20" style="display: flex;">

                            <div class="col-md-2 m-b-10">
                                <label for="created" class="control-label f-13"><span>Khoảng thời gian</span></label>
                                <div class="input-group">
                                    <input type="text"
                                        class="form-control pull-right search-field multi-date-picker filter-campain input"
                                        id="created" name="created" placeholder=" VD: 01/01/2020">
                                    <span class="input-group-addon p-l-10 bgm-gray c-white"><i role="button"
                                            class="zmdi zmdi-calendar"></i></span>
                                </div>
                            </div>

                            <div class="col-md-2 m-b-20">
                                <label for="channel" class="control-label f-13"><span>Kênh chat</span></label>
                                <select name="channel" id="channel" multiple data-actions-box="true"
                                    class="selectpicker search-field input" data-live-search="true" title="---Chọn---">
                                    <% _.each(channel,function(item){%>
                                    <option value="<%- item._id%>"><%- item.name%></option>
                                    <%})%>
                                </select>
                            </div>
                            <div class="col-md-2 m-b-20">
                                <label for="agent" class="control-label f-13"><span>Agent</span></label>
                                <select name="agent" id="agent" multiple data-actions-box="true"
                                    class="selectpicker search-field input" data-live-search="true" title="---Chọn---">
                                    <% _.each(agent,function(item){%>
                                    <option value="<%- item._id%>"><%- item.displayName%></option>
                                    <%})%>
                                </select>
                            </div>
                            <div class="col-md-2 m-b-20">
                                <label for="reasonCategories" class="control-label f-13"><span>Nhóm tình
                                        trạng</span></label>
                                <select name="reasonCategories" id="reasonCategories" multiple data-actions-box="true"
                                    class="selectpicker search-field input" data-live-search="true" title="---Chọn---">
                                    <% _.each(reasonCategories,function(item){%>
                                    <option value="<%- item._id%>"><%- item.name%></option>
                                    <%})%>
                                </select>
                            </div>

                            <div class="col-md-2 m-b-20">
                                <label for="ticketreasons" class="control-label f-13"><span>Tình trạng</span></label>
                                <select name="ticketreasons" id="ticketreasons" multiple data-actions-box="true"
                                    class="selectpicker search-field input" data-live-search="true" title="---Chọn---">
                                </select>
                            </div>

                            <div class="col-md-2 m-b-20">
                                <label for="status" class="control-label f-13"><span>Trạng thái</span></label>
                                <select name="status" class="selectpicker input" data-live-search="true"
                                    data-actions-box="true" title="---Chọn---" multiple>
                                    <option value="0">Chờ xử lý</option>
                                    <option value="1">Đang xử lý</option>
                                    <option value="2">Hoàn thành</option>
                                </select>
                            </div>

                        </div>


                        <div class="row m-0">
                            <div class="col-md-12 m-b-20 text-center">
                                <button
                                    class="btn f-12 waves-effect text-uppercase  bgm-btn-search c-white border-radius"
                                    id="searchChat">
                                    Tra cứu</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-t-20 m-b-10 m-r-30 text-right">
        <button class="btn btn-warning f-12 btn-save waves-effect text-uppercase border-radius" id="btnExport">
            export</button>
    </div>
    <div class="div_table p-l-10 p-r-10 p-t-10 m-l-20 m-r-20">
        <table class="table table-hover table-condensed table-bordered table-fix table-striped box-shadow1" id="exceldata">
            <thead id="" class="m-t-5 m-r-5">
                <tr>
                    <th class="bgm-orange c-white text-center bgm-confix-header"><span class="TXT_DATE"></span>
                    </th>
                    <th class="bgm-orange c-white text-center bgm-confix-header"><span class="TXT_TOTAL_CHAT"></span>
                    </th>
                    <th class="bgm-orange c-white text-center bgm-confix-header"><span class="TXT_CHAT_CONNECT"></span>
                    </th>
                    <th class="bgm-orange c-white text-center bgm-confix-header"><span class="TXT_CHAT_MISS"></span>
                    </th>
                    <th class="bgm-orange c-white text-center bgm-confix-header"><span class="TXT_OFFLINE"></span></th>
                    <th class="bgm-orange c-white text-center bgm-confix-header"><span class="TXT_CHAT_REPLY"></span>
                    </th>
                    <th class="bgm-orange c-white text-center bgm-confix-header"><span
                            class="TXT_AVG_CHAT_REPLY"></span></th>
                    <th class="bgm-orange c-white text-center bgm-confix-header"><span class="TXT_AVG_WAIT_TIME"></span>
                    </th>
                </tr>
            </thead>

            <tbody id="body-table">
            </tbody>
        </table>
        <table class="table table-hover table-condensed table-bordered table-fix table-striped m-t-10 box-shadow1">
            <thead id="thead-table" class="m-t-5 m-r-5">
            </thead>
        </table>
        <div class="text-center m-t-10" id="totalChat"></div>
        <div class="text-center" id="pagingChat"></div>
    </div>

    <div class="div_table p-l-10 p-r-10 m-l-20 m-r-20">
     

    </div>

    <div class="row m-l-20 m-r-20 m-t-50">
        <div class="portlet-title flex-box">
            <div class="lv-header-alt clearfix">
                <h2 class="lvh-label hidden-xs">
                    BIỂU ĐỒ THÔNG TIN
                </h2>
            </div>
            <div data-toggle="tooltip" data-placement="top" class="dropdown flex-end showHideFields m-r-30">
                <ul class="dropdown-menu pull-right p-0 bgm-showFields" id="showHideFields">
                    <li class="b-b menuChart" data-id="PNG">
                        <div class=" m-0 p-t-5 p-b-5 ">
                            <label class="dp-block p-0">
                                <div class="p-5 text-capitalize text-nowrap c-white dp-block m-l-10 m-r-10">Export PNG
                                </div>
                            </label>
                        </div>
                    </li>
                    <!-- <div class="apexcharts-menu-item exportSVG" title="Download SVG">Download SVG</div>
                        <div class="apexcharts-menu-item exportPNG" title="Download PNG">Download PNG</div>
                        <div class="apexcharts-menu-item exportCSV" title="Download CSV">Download CSV</div> -->
                </ul>
                <button data-toggle="dropdown" aria-expanded="false" aria-haspopup="true"
                    class="btn btn-light f-25 flex-box p-t-0 p-b-0" title="Cột hiển thị">
                    <i class="zmdi zmdi-menu"></i>
                </button>
            </div>
        </div>
        <div class="col-md-12" id="chart">
        </div>
        <div class="col-md-12 m-b-20 text-center">
            <span>Báo cáo thống kê hội thoại chat theo ngày</span>
        </div>
    </div>
</div>