<%- breadcrumb %>
<script>
    var companies = JSON.parse('<%- JSON.stringify(companies) %>');
    var services = JSON.parse('<%- JSON.stringify(services) %>');
    var campaigns = JSON.parse('<%- JSON.stringify(campaigns) %>');
</script>
<div class="card">
    <div class="panel panel-default card-filter p-t-35 p-b-8">
        <div class="card-filter-item">
            <div class="card-filter-item-label text-uppercase color-grey">Công ty</div>
            <div class="card-filter-item-input">
                <select id="filter-company" name="filter-company" class="selectpicker input" title="- Tất cả -">
                    <option value="">- Tất cả -</option>
                    <% for(var i = 0;i < companies.length;i++){ %>
                    <option value=<%- companies[i]._id %>><%- companies[i].name %></option>
                    <% } %>
                </select>
            </div>
        </div>
        <div class="card-filter-item">
            <div class="card-filter-item-label text-uppercase color-grey">chiến dịch</div>
            <div class="card-filter-item-input">
                <select id="filter-campaign"  name="filter-campaign" class="selectpicker input" title="- Tất cả -">
                    <option value="">- Tất cả -</option>
                    <% for(var i = 0;i < services.length;i++){ %>
                    <option value=<%- "service_"+services[i]._id %>><%- services[i].name %></option>
                    <% } %>
                    <% for(var i = 0;i < campaigns.length;i++){ %>
                    <option value=<%- "campaign_"+campaigns[i]._id %>><%- campaigns[i].name %></option>
                    <% } %>
                </select>
            </div>
        </div>
        <div class="card-filter-item">
            <div class="card-filter-item-label text-uppercase color-grey">agent</div>
            <div class="card-filter-item-input">
                <select id="filter-agent" name="filter-agent" class="selectpicker input" title="- Tất cả -">
                    <option value="">- Tất cả -</option>
                    <% for(var i = 0;i < agents.length;i++){ %>
                    <option value=<%- agents[i]._id %>><%- agents[i].displayName %></option>
                    <% } %>
                </select>
            </div>
        </div>
        <div class="card-filter-item">
            <div class="card-filter-item-label text-uppercase color-grey">từ ngày</div>
            <div class="card-filter-item-input">
                <div class="input-group">
                    <input type="text"
                           class="form-control pull-right search-field date-picker filter-campain input"
                           id="filter-start-date" name="startDate"
                           placeholder=" VD: 01/01/2018">
                            <span class="input-group-addon p-l-10 bgm-gray c-white"><i role="button"
                                                                                       class="zmdi zmdi-calendar"></i></span>
                </div>
            </div>
        </div>
        <div class="card-filter-item">
            <div class="card-filter-item-label text-uppercase color-grey">từ giờ</div>
            <div class="card-filter-item-input input-group">
                <input class="form-control text-center"
                       id="filter-start-hour"
                       name="filter-start-hour"
                       type="text"
                       placeholder=" VD: 12:00"
                       data-mask="00:00"
                       value="00:00"
                />
                <span class="input-group-addon p-l-10 bgm-gray c-white"><i role="button" class="zmdi zmdi-time"></i></span>
            </div>
        </div>
        <div class="card-filter-item">
            <div class="card-filter-item-label text-uppercase color-grey">đến ngày</div>
            <div class="card-filter-item-input">
                <div class="input-group">
                    <input type="text"
                           class="form-control pull-right search-field date-picker filter-campain input"
                           id="filter-end-date" name="filter-end-date"
                           placeholder=" VD: 01/01/2018">
                            <span class="input-group-addon p-l-10 bgm-gray c-white"><i role="button"
                                                                                       class="zmdi zmdi-calendar"></i></span>
                </div>
            </div>
        </div>
        <div class="card-filter-item">
            <div class="card-filter-item-label text-uppercase color-grey">đến giờ</div>
            <div class="card-filter-item-input input-group">
                <input class="form-control text-center"
                       id="filter-end-hour"
                       name="filter-end-hour"
                       type="text"
                       placeholder=" VD: 12:00"
                       data-mask="00:00"
                       value="23:00"
                />
                <span class="input-group-addon p-l-10 bgm-gray c-white"><i role="button" class="zmdi zmdi-time"></i></span>
            </div>
        </div>
        <div class="card-filter-item" style="width: 100%;">
            <div class="card-filter-item-label text-uppercase color-grey" style="opacity: 0;">search</div>
            <div class="card-filter-item-input">
                <a id="filter-btn" class="btn c-white bg-color-green" style="width:100%"><i class="fa fa-search"></i></a>
            </div>
        </div>
    </div>
</div>

<div class="card p-b-8">
    <div class="block" style="display: flex;">
        <span class="text-uppercase color-grey" style="display: flex;align-items: center; padding-left: 12px;">báo cáo tổng quát</span>
        <a id="download-excel" class="btn c-white bg-color-green" style="margin-left: auto;"><i class="fa fa-file-excel-o m-r-10"></i>Xuất Excel</a>
    </div>

    <div class="card-body table-responsive">
        <table id="table-general" class="table table-hover table-condensed table-bordered table-fix">
            <thead>
            <tr>
                <th class="bgm-orange c-white text-center text-uppercase" rowspan="2"><span>ngày</span></th>
                <th class="bgm-orange c-white text-center text-uppercase" rowspan="2"><span>tổng số cuộc gọi</span></th>
                <th class="bgm-orange c-white text-center text-uppercase" rowspan="2"><span>tổng số thời gian</span></th>
                <th class="bgm-orange c-white text-center text-uppercase" rowspan="2"><span>thời gian tb</span></th>
                <th class="bgm-orange c-white text-center text-uppercase" rowspan="2"><span>thời gian chờ</span></th>
                <th class="bgm-orange c-white text-center text-uppercase" rowspan="2"><span>thời lượng đàm thoại</span></th>
                <th class="bgm-orange c-white text-center text-uppercase" rowspan="2"><span>thời lượng đàm thoại tb</span></th>
            </tr>
            </thead>
            <tbody>
            <%
            function pad(num) {
                return ("0"+num).slice(-2);
            }
            function hms(secs) {
                if(isNaN(secs)) return "0:00:00";
                var sec = Math.ceil(secs);
                var minutes = Math.floor(sec / 60);
                sec = sec%60;
                var hours = Math.floor(minutes/60)
                minutes = minutes%60;
                return hours+":"+pad(minutes)+":"+pad(sec);
            }%>
            <%for(var i = 0; i < data.length;i++){%>
            <tr class="text-center">
                <td><a role="button" id="filter-detail-date" data-detail="<%- data[i].date%>"><%- data[i].date%></a></td>
                <td><a role="button" id="filter-detail-total" data-detail="<%- data[i].date%>"><%- data[i].totalCall%></a></td>
                <td><%- hms(data[i].totalDuration/1000)%></td>
                <td><%- hms(data[i].avgDuration/1000)%></td>
                <td><%- hms(data[i].waitDuration/1000)%></td>
                <td><%- hms(data[i].callDuration/1000)%></td>
                <td><%- hms(data[i].avgCallDuration/1000)%></td>
            </tr>
            <%}%>
            </tbody>
        </table>
        <% if(!!paging && paging.totalResult > 0){ %>
        <div class="text-center p-t-20" id="report-total">
            <b>
                <span>Tổng</span>
                <span class="bold c-red"><%- paging.totalResult%></span>
            </b>
        </div>
        <% include('../paging.ejs') %>
        <% } %>
    </div>
</div>

<div class="card p-b-8">
    <div class="block" style="display: flex;">
        <span class="text-uppercase color-grey" style="display: flex;align-items: center; padding-left: 12px;">báo cáo chi tiết</span>
        <a id="download-excel-detail" class="btn c-white bg-color-green" style="margin-left: auto;"><i class="fa fa-file-excel-o m-r-10"></i>Xuất Excel</a>
    </div>

    <div class="card-body table-responsive">
        <table id="table-detail" class="table table-hover table-condensed table-bordered table-fix">
            <thead>
            <tr>
                <th class="bgm-orange c-white text-center text-uppercase" rowspan="2"><span>sđt khách hàng</span></th>
                <th class="bgm-orange c-white text-center text-uppercase" rowspan="2"><span>tên khách hàng</span></th>
                <th class="bgm-orange c-white text-center text-uppercase" rowspan="2"><span>điện thoại viên</span></th>
                <th class="bgm-orange c-white text-center text-uppercase" rowspan="2"><span>nhận cuộc gọi</span></th>
                <th class="bgm-orange c-white text-center text-uppercase" rowspan="2"><span>trạng thái</span></th>
                <th class="bgm-orange c-white text-center text-uppercase" rowspan="2"><span>ngày gọi</span></th>
                <th class="bgm-orange c-white text-center text-uppercase" rowspan="2"><span>giờ bắt đầu</span></th>
                <th class="bgm-orange c-white text-center text-uppercase" rowspan="2"><span>giờ nhấc máy</span></th>
                <th class="bgm-orange c-white text-center text-uppercase" rowspan="2"><span>thời lượng đàm thoại</span></th>
                <th class="bgm-orange c-white text-center text-uppercase" rowspan="2"><span>giờ kết thúc</span></th>
                <th class="bgm-orange c-white text-center text-uppercase" rowspan="2"><span>hoàn thành</span></th>
                <th class="bgm-orange c-white text-center text-uppercase" rowspan="2"><span>đang xử lý</span></th>
            </tr>
            </thead>
            <tbody>
            <% if(!!dataDetail){ %>
            <%for(var i = 0; i < dataDetail.length;i++){%>
            <tr class="text-center">
                <td><%- dataDetail[i].customer_phone%></td>
                <td><%- dataDetail[i].customer_name%></td>
                <td><%- dataDetail[i].agent_name%></td>
                <td><%- dataDetail[i].called == 1 ? '<i class="zmdi zmdi-check"></i>' : ''%></td>
                <td>
                    <% if(dataDetail[i].status == 0){ %>Chờ xử lý<% } %>
                    <% if(dataDetail[i].status == 1){ %>Đang xử lý<% } %>
                    <% if(dataDetail[i].status == 2){ %>Hoàn thành<% } %>
                </td>
                <td><%- dataDetail[i].call_date%></td>
                <td><%- dataDetail[i].start_time%></td>
                <td><%- dataDetail[i].called_time%></td>
                <td><%- dataDetail[i].call_duration%></td>
                <td><%- dataDetail[i].end_time%></td>
                <td><%- dataDetail[i].status == 2 ? '<i class="zmdi zmdi-check"></i>' : ''%></td>
                <td><%- dataDetail[i].status == 1 ? '<i class="zmdi zmdi-check"></i>' : ''%></td>
            </tr>
            <%}%>
            <% } %>
            </tbody>
        </table>
        <% if(!!pagingDetail && pagingDetail.totalResult > 0){ %>
        <div class="text-center p-t-20" id="report-total">
            <b>
                <span>Tổng</span>
                <span class="bold c-red"><%- pagingDetail.totalResult%></span>
            </b>
        </div>
        <% include ../pagingDetail.ejs %>
        <% } %>
    </div>

</div>