<%- breadcrumb %>
<% 
    var categoryMenu = data.restaurantCategory.filter(i => i.type == 1);
    var categoryInfo = data.restaurantCategory.filter(i => i.type == 2);
    var categoryPromotion = data.restaurantCategory.filter(i => i.type == 3);
%>
<script>
    var isRoleAgent = '<%- JSON.stringify(isRoleAgent)%>';
    var _urlUpload = JSON.parse('<%- JSON.stringify(_url) %>');
</script>

<% 
var fileType = ['xlsx', 'xls', 'docx', 'doc']
var _url = function (f) {
    var extendfile = f.url.split('.').pop()
    var _tag = '';
    switch (fileType.indexOf(extendfile) == -1) {
        case false:
            _tag = '' +
                '<a href=https://docs.google.com/viewer?embedded=true&url=' + _urlUpload + encodeURIComponent(f.url) + ' target="_blank">'+ decodeURIComponent(f.name) +'</a>';               
            break;
        case true:
            if (extendfile == 'pdf') {
                _tag = '' +
                '<a href='+ encodeURIComponent(f.url) +' target="_blank">'+ decodeURIComponent(f.name) +'</a>'
            } else {
                _tag = '' +
                '<a href='+ encodeURIComponent(f.url) + ' download>'+ decodeURIComponent(f.name) +'</a>'
            }
            break;
    }
    return _tag;
}
%>

<div class="card">
    <div class="lv-header-alt clearfix">
        <h2 class="">BRAND: <span class="btn btn-success"><%- brand[0].brand.name%></span></h2>
        <h2 class="lvh-label hidden-xs"><%- title %></h2>
        <ul class="lv-actions actions">
            <!-- <li>
                <button class="btn btn-danger btn-block waves-effect" id="btn-create-restaurant" name="btn-create-restaurant"
                    data-toggle="modal" href="#modal_create_restaurant" type="button">
                    Thêm nhãn hiệu
                </button>
            </li>
            <li>
                <button class="btn btn-primary btn-block waves-effect" id="btn-create-restaurant"
                    name="btn-create-restaurant" data-toggle="modal" href="#modal_create_restaurant" type="button">
                    Thêm nhà hàng
                </button>
            </li>
            <li class="hidden" id="li-hidden">
                <a role="button" data-toggle="tooltip" data-placement="top" data-original-title="Xóa các mục đánh dấu"
                    id="btn-delSelection">
                    <i class="zmdi zmdi-delete"></i>
                </a>
            </li> -->
        </ul>
    </div>

    <!-- start card filter dữ liệu -->
    <div class="card m-15">

        <div class="panel panel-default">

            <div class="panel-heading p-0" id="product-anchor">
                <h5 class="panel-title">
                    <div data-id="showCustomer" class="btn-block p-10 bgm-green c-white text-uppercase ">
                        Tra cứu
                        <span id="btn-toggle-filter" class="d-none"
                            style="float:right;cursor: pointer;text-transform: none">
                            Lọc dữ liệu <i class="fa fa-chevron-circle-down"></i>
                        </span>
                    </div>

                </h5>
            </div>

            <div class="panel-body p-5 p-b-10">
                <div class="p-b-10 panel-filter" id="transaction-filter">
                    <div class="row form-group">
                        <div class="col-md-12">
                            <div class="row">
                                <label for="searchByName" class="col-sm-2 control-label">Nhập nội dung tra
                                    cứu</label>
                                <div class="col-sm-6">
                                    <div class="fg-line">
                                        <input type="text" value="" class="form-control input-sm required"
                                            id="searchByName" name="searchByName">
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <button type="button" class="btn btn-success" id="searchTitle">Tìm kiếm</button>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="clearfix"></div>
                </div>

            </div>
        </div>

    </div>
    <!-- end card filter dữ liệu -->
    <div class="row m-15 text-right">
        <% if(!isRoleAgent) { %>
        <button class="btn btn-sm btn-primary" id="btn-addTicketAdvisory"> <a
                href="/#mail-complaint?idRestaurant=<%=idRestaurant%>" data-toggle="tooltip" class="c-white"
                data-placement="top" id="addMailComplaint" data-original-title="Tạo mới">Quản lý thông tin liên
                hệ</a></button>
        <%}%>
    </div>
    <!-- start card hiển thị thông tin -->
    <div class="card m-15">

        <div class="panel panel-default">

            <div class="panel-heading p-0 d-none">
                <h5 class="panel-title">

                </h5>
            </div>

            <div class="panel-body p-0 p-b-15">
                <ul class="tab-nav tn-justified" role="tablist">
                    <li role="presentation" class="menu-tab active" data-id="1">
                        <a class="col-sm-6 p-5 f-13 TXT_CUSTOMER_CURRENT_TICKET" href="#tab-manager-menu"
                            aria-controls="tab-manager-menu" role="tab" data-toggle="tab" aria-expanded="false">
                            menu
                        </a>
                    </li>
                    <li role="presentation" class="menu-tab" data-id="2">
                        <a class="col-sm-6 p-5 f-13 TXT_CUSTOMER_RELATE_TICKET" href="#tab-manager-info"
                            aria-controls="tab-manager-info" role="tab" data-toggle="tab" aria-expanded="false">
                            Thông tin nhà hàng
                        </a>
                    </li>
                    <li role="presentation" class="menu-tab" data-id="3">
                        <a class="col-sm-6 p-5 f-13 TXT_CUSTOMER_RELATE_TICKET" href="#tab-manager-promotion"
                            aria-controls="tab-manager-promotion" role="tab" data-toggle="tab" aria-expanded="false">
                            CTKM
                        </a>
                    </li>
                </ul>

                <div class="tab-content">

                    <!-- start tab content MENU -->
                    <div role="tabpanel" style="height: 100%" class="tab-pane animated active" id="tab-manager-menu">

                        <% if(!isRoleAgent) { %>
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-primary pull-right waves-effect m-r-15 create-new-by-category" type="button">
                    Thêm bài viết
                </button>
            </div>
        </div>
        <% } %>
        <div class="card bgm-white p-15">
            <div class="row">

                <div class="col-sm-3 col-md-3">
                    <% for(var i = 0; i < categoryMenu.length; i++) {%>
                    <div class="item-1">
                        <div class="bg-black-trp p-10 category-parent" id="<%- categoryMenu[i]._id %>">
                            <%- categoryMenu[i].name%>
                            <% if(!isRoleAgent) { %>
                            <i role="button" class="zmdi zmdi-plus-square pull-right add-menu" data-toggle="modal"
                                href="#modal_create_category" type="button"
                                category-json='<%- JSON.stringify(categoryMenu[i]) %>'></i>
                            <% } %>
                        </div>

                        <ul class="list-group list-category" id="listCategoryMenu">
                            <% for(var j = 0; j < categoryMenu[i].childs.length; j++) {%>
                            <li class="list-group-item  category-child" id="<%-categoryMenu[i].childs[j]._id%>">
                                <i class="zmdi zmdi-circle sub-category-icon"></i>
                                <span><%-categoryMenu[i].childs[j].name%></span>
                            </li>
                            <%}%>        
                                        </ul>

                                    </div>
                                    <%}%>

                    </div>

                    <div class="col-sm-9 col-md-9 p-l-0">

                        <table id="tblNew-menu" data-type="cquest" data-unique-id="id" data-toggle="table"
                            data-filter-control="true" data-pagination="true" data-page-size="15"
                            class="table table-fix table-bordered f-13 table-customize">
                            <thead>
                                <tr>
                                    <th data-field="title" data-filter-control="input" data-sortable="true"
                                        style="background-color: rgba(237, 236, 236, 0.6);">
                                        <i class="zmdi zmdi-account c-gray f-14 p-relative t-1 m-r-10 d-none">
                                        </i>Tiêu đề
                                    </th>
                                    <th data-field="content" data-filter-control="input" data-sortable="true"
                                        style="background-color: rgba(237, 236, 236, 0.6);"><i
                                            class="zmdi zmdi-globe c-gray f-14 p-relative t-1 m-r-5 d-none"></i>Nội
                                        dung
                                    </th>
                                    <th data-field="files" style="background-color: rgba(237, 236, 236, 0.6);"><i
                                            class="zmdi zmdi-time c-gray f-14 p-relative t-1 m-r-5 d-none"></i>
                                        File đính kèm
                                    </th>
                                    <th data-field="status" style="background-color: rgba(237, 236, 236, 0.6);"><i
                                            class="zmdi zmdi-eye c-gray f-14 p-relative t-1 m-r-5 d-none"></i>Trạng
                                        thái
                                    </th>
                                    <th data-field="actions" style="background-color: rgba(237, 236, 236, 0.6);"><i
                                            class="zmdi zmdi-eye c-gray f-14 p-relative t-1 m-r-5 d-none"></i>Tác
                                        vụ
                                    </th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        <!-- ens tab content MENU -->
        <!-- start tab content INFO -->
        <div role="tabpanel" style="height: 100%" class="tab-pane animated" id="tab-manager-info">

            <% if(!isRoleAgent) { %>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-primary pull-right waves-effect m-r-15 create-new-by-category" type="button">
                        Thêm bài viết
                    </button>
                </div>
            </div>
            <% } %>
            <div class="card bgm-white p-15">
                <div class="row">

                    <div class="col-sm-3 col-md-3">
                        <% for(var i = 0; i < categoryInfo.length; i++) {%>
                        <div class="item-1">
                            <div class="bg-black-trp p-10 category-parent" id="<%- categoryInfo[i]._id %>">
                                <%- categoryInfo[i].name%>
                                <% if(!isRoleAgent) { %>
                                <i role="button" class="zmdi zmdi-plus-square pull-right add-menu" data-toggle="modal"
                                    href="#modal_create_category" type="button"
                                    category-json='<%- JSON.stringify(categoryInfo[i]) %>'></i>
                                <% } %>
                            </div>

                            <ul class="list-group list-category" id="categoryInfo">
                                <% for(var j = 0; j < categoryInfo[i].childs.length; j++) {%>
                                <li class="list-group-item  category-child" id="<%-categoryInfo[i].childs[j]._id%>">
                                    <i class="zmdi zmdi-circle sub-category-icon"></i>
                                    <span><%-categoryInfo[i].childs[j].name%></span>
                                </li>
                                <%}%>        
                                        </ul>

                                    </div>
                                    <%}%>

                        </div>

                        <div class="col-sm-9 col-md-9 p-l-0">

                            <table id="tblNew-info" data-type="cquest" data-unique-id="id" data-toggle="table"
                                data-filter-control="true" data-pagination="true" data-page-size="15"
                                class="table table-fix table-bordered f-13 table-customize">
                                <thead>
                                    <tr>
                                        <th data-field="title" data-filter-control="input" data-sortable="true"
                                            style="background-color: rgba(237, 236, 236, 0.6);">
                                            <i class="zmdi zmdi-account c-gray f-14 p-relative t-1 m-r-10 d-none">
                                            </i>Tiêu đề
                                        </th>
                                        <th data-field="content" data-filter-control="input" data-sortable="true"
                                            style="background-color: rgba(237, 236, 236, 0.6);"><i
                                                class="zmdi zmdi-globe c-gray f-14 p-relative t-1 m-r-5 d-none"></i>Nội
                                            dung
                                        </th>
                                        <th data-field="files" style="background-color: rgba(237, 236, 236, 0.6);"><i
                                                class="zmdi zmdi-time c-gray f-14 p-relative t-1 m-r-5 d-none"></i>
                                            File đính kèm
                                        </th>
                                        <th data-field="status" style="background-color: rgba(237, 236, 236, 0.6);"><i
                                                class="zmdi zmdi-eye c-gray f-14 p-relative t-1 m-r-5 d-none"></i>Trạng
                                            thái
                                        </th>
                                        <th data-field="actions" style="background-color: rgba(237, 236, 236, 0.6);"><i
                                                class="zmdi zmdi-eye c-gray f-14 p-relative t-1 m-r-5 d-none"></i>Tác
                                            vụ
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>

            </div>
            <!-- end tab content INFO -->
            <!-- start tab content PROMOTION -->
            <div role="tabpanel" style="height: 100%" class="tab-pane animated" id="tab-manager-promotion">

                <div class="card bgm-white p-15">
                    <div class="row">

                        <div class="col-sm-3 col-md-3">
                            <% for(var i = 0; i < categoryPromotion.length; i++) {%>
                            <div class="item-1">
                                <div class="bg-black-trp p-10" id="<%- categoryPromotion[i]._id %>">
                                    <%- categoryPromotion[i].name%>
                                    <i role="button" class="zmdi zmdi-plus-square pull-right add-menu d-none"
                                        data-toggle="modal" href="#modal_create_category" type="button"
                                        category-json='<%- JSON.stringify(categoryPromotion[i]) %>'></i>
                                </div>

                                <ul class="list-group list-category" id="categoryPromotion">
                                    <% for(var j = 0; j < categoryPromotion[i].childs.length; j++){ %>
                                    <li class="list-group-item" id="<%-categoryPromotion[i].childs[j]._id%>">
                                        <i class="zmdi zmdi-circle sub-category-icon"></i>
                                        <span><%- categoryPromotion[i].childs[j].name %></span>
                                    </li>
                                    <% } %>
                                </ul>

                            </div>
                            <% } %>

                        </div>

                        <div class="col-sm-9 col-md-9 p-l-0">

                            <table id="tblNew-promotion" data-type="cquest" data-unique-id="id" data-toggle="table"
                                data-filter-control="true" data-pagination="true" data-page-size="15"
                                class="table table-fix table-bordered f-13 table-customize">
                                <thead>
                                    <tr>
                                        <th data-field="title" data-filter-control="input" data-sortable="true"
                                            style="background-color: rgba(237, 236, 236, 0.6);">
                                            <i class="zmdi zmdi-account c-gray f-14 p-relative t-1 m-r-10 d-none">
                                            </i>Tiêu đề
                                        </th>
                                        <th data-field="content" data-filter-control="input" data-sortable="true"
                                            style="background-color: rgba(237, 236, 236, 0.6);"><i
                                                class="zmdi zmdi-globe c-gray f-14 p-relative t-1 m-r-5 d-none"></i>Nội
                                            dung
                                        </th>
                                        <th data-field="files" style="background-color: rgba(237, 236, 236, 0.6);"><i
                                                class="zmdi zmdi-time c-gray f-14 p-relative t-1 m-r-5 d-none"></i>
                                            File đính kèm
                                        </th>
                                        <th data-field="status" style="background-color: rgba(237, 236, 236, 0.6);"><i
                                                class="zmdi zmdi-eye c-gray f-14 p-relative t-1 m-r-5 d-none"></i>Thời
                                            gian áp dụng
                                        </th>
                                        <th data-field="actions" style="background-color: rgba(237, 236, 236, 0.6);"><i
                                                class="zmdi zmdi-eye c-gray f-14 p-relative t-1 m-r-5 d-none"></i>Tác
                                            vụ
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(var j = 0; j < data.promotions.length; j++) {%>
                                    <% var fileNames = data.promotions[j].files.map(i =>  `<a href="${i.url}" download title="${i.name}">${i.name}</a>`).join("<br/>");
                                                    var startTime = _moment(data.promotions[j].startTime).format('DD/MM/YYYY');
                                                    var endTime = _moment(data.promotions[j].endTime).format('DD/MM/YYYY');
                                                %>
                                    <tr>
                                        <td title="<%-data.promotions[j].title%>">
                                            <%-data.promotions[j].title%></td>
                                        <td title="<%-data.promotions[j].content%>">
                                            <%-data.promotions[j].content%></td>
                                        <td class=""><%-fileNames%></td>
                                        <td><%-startTime%> - <%-endTime%></td>
                                        <td class="text-center">
                                            <i class="zmdi zmdi-eye text-danger f-18 show-promotions"
                                                data-id="<%-data.promotions[j]._id%>"></i>
                                        </td>
                                    </tr>
                                    <%}%>     
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- end tab content PROMOTION -->

                </div>

            </div>
        </div>


    </div>
    <!-- end card hiển thị thông tin -->

    <div class="row d-none">


        <div class="col-sm-3 col-md-3 p-l-20 p-r-0">
            <div class="bg-black-trp text-center p-10 m-b-5 ">Nhãn hiệu</div>
            <div class="input-group m-b-5">
                <input class="form-control filter" type="text" id="searchRestaurant" name="searchRestaurant">
                <span class="input-group-addon p-l-10 bgm-gray c-white">
                    <i role="button" class="zmdi zmdi-search"></i>
                </span>
            </div>

            <ul class="list-group list-result-filter" id="listRestaurant">
                <% for(var i = 0; i < data.restaurants.length; i++) {%>
                                    <li class="list-group-item" id="<%- data.restaurants[i]._id %>">
                                        <span><%- data.restaurants[i].name%></span>
                                        <i class="fa fa-pencil pull-right edit"
                                            dataJSON='<%- JSON.stringify(data.restaurants[i]) %>'></i>
                                    </li>
                                    <%}%>
            </ul>

        </div>
        <div class="col-sm-3 col-md-3 p-l-20 p-r-0">
            <div class="bg-black-trp text-center p-10 m-b-5 ">Khu vực</div>
            <input class="form-control filter" type="text" id="searchArea" name="searchArea" disabled>

            <ul class="list-group list-result-filter" id="listArea">
                <% for(var i = 0; i < areas.length; i++) {%>
                                    <li class="list-group-item" typeArea="<%- areas[i].value %>">
                                        <span><%- areas[i].name%></span>
                                    </li>
                                    <%}%>
            </ul>

        </div>
        <div class="col-sm-3 col-md-3 p-l-20 p-r-0">
            <div class="bg-black-trp text-center p-10 m-b-5 ">Tỉnh thành</div>
            <div class="input-group m-b-5">
                <input class="form-control filter" type="text" id="searchProvince" name="searchProvince">
                <span class="input-group-addon p-l-10 bgm-gray c-white">
                    <i role="button" class="zmdi zmdi-search"></i>
                </span>
            </div>

            <ul class="list-group list-result-filter" id="listProvince">

            </ul>

        </div>
        <div class="col-sm-3 col-md-3 p-l-20 p-r-20">
            <div class="bg-black-trp text-center p-10 m-b-5 ">Nhà hàng</div>
            <div class="input-group m-b-5">
                <input class="form-control filter" type="text" id="searchRestaurant" name="searchRestaurant">
                <span class="input-group-addon p-l-10 bgm-gray c-white">
                    <i role="button" class="zmdi zmdi-search"></i>
                </span>
                
            </div>

            <ul class="list-group list-result-filter" id="listRestaurant"></ul>

        </div>
    </div>

</div>

<div class="modal fade" id="modal_create_category" tabindex="-1" role="dialog" aria-hidden="true">
    <form class="form-horizontal m-t-30" id="form-create-category">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Tạo mục con</h4>
                    <div class="text-center" id="ticket-total"></div>
                </div>
                <div class="modal-body">
                    <div class="card-body" style="overflow-y: auto;overflow-x: hidden; max-height: 350px;">
                        <input type="hidden" id="modal_create_category_idRestaurant" name="modal_create_category_idRestaurant">
                        <input type="hidden" id="modal_create_category_idParent" name="modal_create_category_idParent">
                        <input type="hidden" id="modal_create_category_type" name="modal_create_category_type">
                        <input type="hidden" id="modal_create_category_weight" name="modal_create_category_weight">
                        <div class="form-group">
                            <label for="modal_create_category_name" class="col-sm-3 control-label">Tên mục<span class="required">*</span>:</label>
                            <div class="col-sm-8">
                                <div class="fg-line">
                                    <input type="text" value=""
                                        class="form-control input-sm required"
                                        id="modal_create_category_name" name="modal_create_category_name">
                                </div>
                                <div class="p-t-5 p-b-5 text-danger validate-message" id="modal_create_category_name_validate">Trường này bắt buộc</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="modal_status" class="col-sm-3 control-label">Trạng thái:</label>
                            <div class="col-sm-8">
                                <div class="toggle-switch">
                                    <input id="modal_create_category_status" type="checkbox" hidden="hidden" checked>
                                    <label for="modal_create_category_status" class="ts-helper"></label>
                                    <strong class="m-l-20">
                                        <span id="modal_create_category_status_text"></span>
                                    </strong>
                                </div>
                            </div>
                        </div>
                        <div class="text-center col-sm-12 col-md-12 text-center">
                            <button type="submit" class="btn btn-primary waves-effect"
                                    id="btnCreateCategory">
                                Xác nhận
                            </button>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="modal_update_category" tabindex="-1" role="dialog" aria-hidden="true">
    <form class="form-horizontal m-t-30" id="form-update-category">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Sửa nhãn hiệu</h4>
                    <div class="text-center" id="ticket-total"></div>
                </div>
                <div class="modal-body">
                    <div class="card-body" style="overflow-y: auto;overflow-x: hidden; max-height: 350px;">
                        <input type="hidden" id="modal_update_category_ID" name="modal_update_category_ID">
                        <div class="form-group">
                            <label for="modal_update_category_name" class="col-sm-3 control-label">Nhãn hiệu<span class="required">*</span>:</label>
                            <div class="col-sm-8">
                                <div class="fg-line">
                                    <input type="text" value=""
                                        class="form-control input-sm required"
                                        id="modal_update_category_name" name="modal_update_category_name">
                                </div>
                                <div class="p-t-5 p-b-5 text-danger validate-message" id="modal_update_category_name_validate">Trường này bắt buộc</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="modal_status" class="col-sm-3 control-label">Trạng thái:</label>
                            <div class="col-sm-8">
                                <div class="toggle-switch">
                                    <input id="modal_update_category_status" type="checkbox" hidden="hidden" checked>
                                    <label for="modal_update_category_status" class="ts-helper"></label>
                                    <strong class="m-l-20">
                                        <span id="modal_update_category_status_text"></span>
                                    </strong>
                                </div>
                            </div>
                        </div>
                        <div class="text-center col-sm-12 col-md-12 text-center">
                            <button type="submit" class="btn btn-primary waves-effect"
                                    id="btnUpdateCategory">
                                Xác nhận
                            </button>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </form>
</div>