<%-breadcrumb%>
<form role="form" class="form-horizontal" id="add-new-service">
    <div class="card">
        <div class="card-header">
            <h2 class="m-b-5"><%- title %></h2>
            <small class="text-muted"><i>Những trường có dấu <span class="c-red">*</span> là bắt buộc nhập.</i></small>
        </div>
        <div class="card-body card-padding">

            <div class="form-group">
                <label for="name" class="col-sm-3 control-label">Tên chiến dịch<span class="required">*</span></label>

                <div class="col-sm-6">
                    <div class="fg-line">
                        <input type="hidden" id="socketId" name="socketId" value="">
                        <input type="text" class="form-control validate[required,ajax[ServiceCheck]]" id="name"
                               name="name">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-3 control-label">Tên queue<span class="required">*</span></label>

                <div class="col-sm-6">
                    <div class="fg-line">
                        <input type="text" class="form-control" id="idServiceMailCisco"  name="idServiceMailCisco">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="group" class="col-sm-3 control-label">Loại service mail<span
                            class="required">*</span></label>

                <div class="col-sm-6">
                    <div class="fg-line select">
                        <select class="selectpicker validate[required]" id="typeServiceMail" name="typeServiceMail">
                            <option value='' disabled selected>---- Chọn ----</option>
                            <option value="0">Mail marketing</option>
                            <option value="1">Mail Inbound</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="group" class="col-sm-3 control-label">Công ty<span class="required">*</span></label>

                <div class="col-sm-6">
                    <div class="fg-line select">
                        <select class="selectpicker validate[required, ajax[ServiceCheck]]" id="idCompany"
                                name="idCompany">
                            <option value='' disabled selected>---- Chọn ----</option>
                            <% orgs.forEach(function(el, i) { %>
                            <option value="<%- el._id %>"><%- el.name %></option>
                            <% }) %>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="group" class="col-sm-3 control-label">Chiến lược route mail<span
                            class="required">*</span></label>

                <div class="col-sm-6">
                    <div class="fg-line select">
                        <select class="selectpicker validate[required]" id="routeMail" name="routeMail">
                            <option value='' disabled selected>---- Chọn ----</option>
                            <option value="1">Skill Priority</option>
                            <option value="2">Agent Performance</option>
                            <option value="3">Random</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-3 control-label">Yêu cầu kỹ năng<span class="required">*</span></label>

                <div class="col-sm-6">
                    <select class="selectpicker validate[required]" id="idSkill" name="idSkill">
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="status" class="col-sm-3 control-label">Trạng thái</label>

                <div class="col-sm-6">
                    <div class="checkbox m-b-15">
                        <label>
                            <input type="checkbox" value="1" id="status" name="status" checked>
                            <i class="input-helper"></i>
                            <span class="p-l-10" data-text-on="Không kích hoạt" data-text-off="Kích hoạt"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h2 class="m-b-5 f-20">Thiết lập gửi</h2>

        </div>

        <div class="card-body card-padding">

            <div class="form-group">

                <label for="send_host" class="col-sm-3 control-label" id="txt_service_send_host">Host <span
                            class="c-red">*</span></label>

                <div class="col-sm-7">
                    <div class="fg-line">
                        <input type="text" class="form-control validate[required]" id="send_host"
                               maxlength="60"
                               name="send_host" placeholder="VD: smtp.gmail.com">
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label for="name" class="col-sm-3 control-label" id="txt_service_send_port">Cổng <span
                            class="c-red">*</span></label>

                <div class="col-sm-7">
                    <div class="fg-line">
                        <input type="number" class="form-control validate[required]" id="send_port"
                               maxlength="60"
                               name="send_port" placeholder="VD: 465">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-3 control-label" id="txt_service_send_user">Tên đăng nhập <span
                            class="c-red">*</span></label>

                <div class="col-sm-7">
                    <div class="fg-line">
                        <input type="text" class="form-control validate[required, ajax[validateSendUser]]"
                               id="send_user"
                               maxlength="60"
                               name="send_user" placeholder="VD: support@gmail.com">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-3 control-label" id="txt_service_send_pass">Mật khẩu <span
                            class="c-red">*</span></label>

                <div class="col-sm-7">
                    <div class="fg-line">
                        <input type="password" class="form-control validate[required]" id="send_pass"
                               maxlength="60"
                               name="send_pass" placeholder="">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-3 control-label" id="txt_service_sercure">Bảo mật <span
                            class="c-red">*</span></label>

                <div class="col-sm-7">
                    <div class="p-relative">
                        <select class="selectpicker validate[required] " name="send_sercure"
                                id="send_sercure">
                            <option value="0"> -- Chọn --</option>
                            <% sercure.forEach(function(element, index){ %>
                            <option <%= (index == 0)?'selected':'' %> value=<%- index + 1 %>>  <%- element %> </option>
                            <% }); %>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-3 control-label" id="txt_service_protocol">Giao thức <span
                            class="c-red">*</span></label>

                <div class="col-sm-7">
                    <div class="p-relative">
                        <select class="selectpicker validate[required]" name="send_protocol"
                                id="send_protocol">
                            <option disabled value="0"> -- Chọn --</option>
                            <% sendProtocol.forEach(function(element, index){ %>
                            <option <%= (index == 0)?'selected':'' %> value=<%- index + 1 %>>  <%- element %> </option>
                            <% }); %>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group">

                <label for="send_limit" class="col-sm-3 control-label" id="txt_service_send_limit">Số lượng gửi tối đa
                    <span class="c-red">*</span></label>

                <div class="col-sm-7">
                    <div class="fg-line">
                        <input type="number" class="form-control validate[required]" id="send_limit"
                               maxlength="60"
                               name="send_limit" placeholder="VD: 500">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h2 class="m-b-5 f-20">Thiết lập nhận</h2>

        </div>

        <div class="card-body card-padding">

            <div class="form-group">

                <label for="receive_host" class="col-sm-3 control-label" id="txt_service_receive_host">Host <span
                            class="c-red">*</span></label>

                <div class="col-sm-7">
                    <div class="fg-line">
                        <input type="text" class="form-control validate[required]" id="receive_host"
                               maxlength="60"
                               name="receive_host" placeholder="VD: pop.gmail.com">
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label for="receive_port" class="col-sm-3 control-label" id="txt_service_receive_port">Cổng <span
                            class="c-red">*</span></label>

                <div class="col-sm-7">
                    <div class="fg-line">
                        <input type="number" class="form-control validate[required]" id="receive_port"
                               maxlength="60"
                               name="receive_port" placeholder="VD: 995">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="receive_user" class="col-sm-3 control-label" id="txt_service_receive_user">Tên đăng nhập
                    <span class="c-red">*</span></label>

                <div class="col-sm-7">
                    <div class="fg-line">
                        <input type="text" class="form-control validate[required, ajax[validateReceiveUser]]"
                               id="receive_user"
                               maxlength="60"
                               name="receive_user" placeholder="VD: support@gmail.com">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="receive_pass" class="col-sm-3 control-label" id="txt_service_receive_pass">Mật khẩu <span
                            class="c-red">*</span></label>

                <div class="col-sm-7">
                    <div class="fg-line">
                        <input type="password" class="form-control validate[required]" id="receive_pass"
                               maxlength="60"
                               name="receive_pass" placeholder="">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="receive_sercure" class="col-sm-3 control-label" id="txt_service_receive_sercure">Bảo mật
                    <span class="c-red">*</span></label>

                <div class="col-sm-7">
                    <div class="p-relative">
                        <select class="selectpicker validate[required]" name="receive_sercure"
                                id="receive_sercure">
                            <option disabled selected value="0"> -- Chọn --</option>
                            <% sercure.forEach(function(element, index){ %>
                            <option <%= (index == 0)?'selected':'' %> value=<%- index + 1 %>>  <%- element %> </option>
                            <% }); %>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="receive_protocol" class="col-sm-3 control-label" id="txt_service_receive_protocol">Giao thức
                    <span class="c-red">*</span></label>

                <div class="col-sm-7">
                    <div class="p-relative">
                        <select class="selectpicker validate[required]" name="receive_protocol"
                                id="receive_protocol">
                            <option disabled selected value="0"> -- Chọn --</option>
                            <% receiveProtocol.forEach(function(element, index){ %>
                            <option <%= (index == 0)?'selected':'' %> value=<%- index + 1 %>>  <%- element %> </option>
                            <% }); %>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group">

                <label for="receive_delay" class="col-sm-3 control-label" id="txt_service_receive_delay">Thời gian nhận
                    mail <span class="c-red">*</span></label>

                <div class="col-sm-7">
                    <div class="fg-line">
                        <input type="number" class="form-control validate[required]" id="receive_delay"
                               maxlength="60"
                               name="receive_delay" placeholder="VD: 60000 (milisecond)"
                               value="60000">

                    </div>
                </div>
            </div>

            <div class="form-group">

                <label for="receive_delay" class="col-sm-3 control-label" id="txt_service_bounce_mail">Bounce mail</label>

                <div class="col-sm-7">
                    <div class="fg-line">
                        <input type="email" class="form-control" id="bounce_mail"
                               maxlength="60"
                               name="bounce_mail" placeholder="VD: mailer-daemon@googlemail.com, postmaster@mail.hotmail.com"
                               >

                    </div>
                </div>
            </div>

            <div class="form-group">

                <label for="sla" class="col-sm-3 control-label" id="txt_service_sla">Service SLA <span class="c-red">*</span></label>

                <div class="col-sm-7">
                    <div class="fg-line">
                        <input type="number" class="form-control validate[required]" id="sla"
                               maxlength="60"
                               name="sla" placeholder="VD: 3600 (seconds)"
                               value="3600">

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="form-group m-b-0">
        <div class="col-sm-offset-3 col-sm-10">
            <a type="button" class="btn btn-default btn-icon-text m-t-10 m-r-10 waves-effect" href="/services-mail"><i
                        class="m-r-5 zmdi zmdi-arrow-left"></i>Quay lại</a>
            <button type="submit" class="btn btn-primary btn-icon-text m-t-10 waves-effect"><i
                        class="m-r-5 zmdi zmdi-plus-circle-o"></i>Xác nhận
            </button>
        </div>
    </div>
</form>