<%-breadcrumb%>
<script>
    var currentTicket = JSON.parse('<%- JSON.stringify(currentTicket) %>');
    var ticketReasonCategory = JSON.parse('<%- JSON.stringify(ticketReasonCategory) %>');
    var assign = JSON.parse('<%- JSON.stringify(assign) %>');
    var ticketHistory = JSON.parse('<%- JSON.stringify(ticketHistory) %>');
    var ticketCustomerJourney = JSON.parse('<%- JSON.stringify(ticketCustomerJourney) %>');
    console.log('test', ticketCustomerJourney);
    var survey = '<%- JSON.stringify(survey) %>';
    var surveyResult = '<%- JSON.stringify(surveyResult) %>';
    var isEdit = '<%- isEdit %>' === 'true';
    var isEditComplaint = JSON.parse(`<%- isEditComplaint%>`)
    var statisfy = JSON.parse('<%- JSON.stringify(statisfy) %>');
    var tickets = JSON.parse('<%- JSON.stringify(tickets) %>');
    var callLogs = JSON.parse('<%- JSON.stringify(callLogs) %>');
    var orderCards = JSON.parse('<%- JSON.stringify(typeof orderCards === "undefined"? [] : orderCards) %>');
</script>

<div class="card" id="ticket-edit">
    <div class="card-header">
        <h2 class="m-b-5">
            <%- title %>
        </h2>
        <small class="text-muted"><i>Những trường có dấu <span class="c-red">*</span> là bắt buộc nhập.</i></small>
    </div>

    <div class="card-body card-padding">
        <section id="main">
            <div class="form-horizontal bgm-white flex-row">
                <div class="panel-group m-0" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading p-0">
                            <h5 class="panel-title">
                                <a data-id="showCustomer"
                                    class="btn-block p-10 bgm-orange c-white text-uppercase TXT_CUSTOMER_INFO">Thông tin
                                    khách
                                    hàng</a>
                            </h5>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body c-overflow p-5 p-b-10">
                                <form role="form" id="frm-update-customer">
                                    <% for(var i = 0; i < fields.length; i++){ %>
                                    <div class="p-l-5 p-r-5 col-xs-4 col-sm-3 col-md-3">
                                        <label for="name" class="control-label f-13"><%- fields[i].displayName %>
                                            <%- _switch(fields[i].isRequired, [0, 1], ['', '<span class="c-red">*</span>']) %></label>

                                        <% {%>
                                        <div class="" style="font-weight: bold;">
                                            <%- fnInfo(fields[i], customer[0]); %>
                                        </div>
                                        <%}%>

                                            </div>
                                            <% } %>

                                        <div class=" form-group p-l-5 p-r-5 p-t-30 col-sm-12 text-center">

                                            <button type="submit"
                                                class="btn btn-primary btn-icon-text waves-effect btn-save"
                                                data-target="#frm-update-customer" id="save-customer"
                                                data-id="<%- currentTicket.idCustomer %>">
                                                <i class="m-r-5 zmdi zmdi-check"></i>
                                                Xác nhận
                                            </button>

                                        </div>

                                        <div class="testthoima"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="row m-t-5 m-b-5 m-l-10">
                        <button class="btn btn-sm btn-primary" id="btn-new-complaint" data-toggle="modal"
                            data-target="#newComlaintPopup"><i class="fa fa-plus"></i> Tạo mới khiếu nại</button>

                    </div> -->
                    <!-- <div class="row m-t-5 m-b-5 m-l-10">
                        <button class="btn btn-sm btn-primary" id="btn-new-Advisory" data-toggle="modal"
                            data-target="#newAdvisoryPopup"><i class="fa fa-plus"></i> Tạo mới tư vấn</button>

                    </div> -->

                    <!-- order panel-->
                    <% if(!_.isNull(order)) { %>
                    <div class="panel panel-default">
                        <div class="panel-heading p-0">
                            <h5 class="panel-title">
                                <a class="btn-block p-10 bgm-orange c-white text-uppercase TXT_ORDER_TITLE"></a>
                            </h5>
                        </div>
                        <div class="panel-collapse collapse in">
                            <div class="panel-body c-overflow p-5 p-b-10">
                                <form role="form" id="frm-update-order">
                                    <input type="hidden" name="field_order__id"
                                        value="<%-order.field_order__id[0].value %>">
                                    <% _.each(orderFields, function(orderField) { %>
                                    <div class="p-l-5 p-r-5 col-xs-4 col-sm-4 col-md-4">
                                        <label for="name" class="control-label f-13"><%- orderField.displayName %>
                                            <%- _switch(orderField.isRequired, [0, 1], ['', '<span class="c-red">*</span>']) %></label>
                                        <div class="">
                                            <%- fnInfo(orderField, order); %>
                                        </div>
                                    </div>
                                    <%}); %>
                                    <div class="p-l-5 p-r-5 col-xs-4 col-sm-4 col-md-4">
                                        <label for="name" class="control-label f-13">Chuyển loại</label>
                                        <div class="">
                                            <%
                                                var isUpSale = (order.field_order_isUpSale && order.field_order_isUpSale[0].value === 'true');
                                                var originCard = isUpSale ? order.field_order_originCard[0].value : order.field_order_card[0].value;
                                            %>
                                            <input type="hidden" name="field_order_originCard"
                                                value="<%- originCard %>">
                                            <select class="selectpicker form-control" name="field_order_isUpSale"
                                                id="field_order_isUpSale">
                                                <option value="false">Không chuyển loại</option>
                                                <option value="true" <%- isUpSale ? 'selected' : ''%>>Là chuyển loại
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class=" form-group p-l-5 p-r-5 p-t-30 col-sm-12 text-center">
                                        <button type="button"
                                            class="btn btn-warning w-150 btn-icon-text waves-effect btn-save"
                                            data-target="#frm-update-order" id="save-order">
                                            <i class="m-r-5 zmdi zmdi-check"></i>
                                            Cập nhật đơn hàng
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <% } <!-- end of if(!_.isNull(order)) -->%>
                    <!-- /order panel-->

                    <div class="panel panel-default">
                        <div class="panel-heading p-0">
                            <h5 class="panel-title">
                                <a class="btn-block p-10 bgm-orange c-white text-uppercase TXT_CUSTOMER_TICKET"></a>
                            </h5>
                        </div>
                        <div>
                            <div class="panel-body p-0 c-overflow">
                                <ul class="tab-nav tn-justified" role="tablist">
                                    <li role="presentation" class="ticketTab active" data-id="1">
                                        <a class="col-sm-6 p-5 f-13 TXT_CUSTOMER_CURRENT_TICKET" href="#tab-edit-ticket"
                                            aria-controls="tab-new-ticket" role="tab" data-toggle="tab"
                                            aria-expanded="false"></a>
                                    </li>
                                    <li role="presentation" class="ticketTab" data-id="2">
                                        <a class="col-sm-6 p-5 f-13 TXT_CUSTOMER_RELATE_TICKET" href="#tab-old-ticket"
                                            aria-controls="tab-old-ticket" role="tab" data-toggle="tab"
                                            aria-expanded="false"></a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div role="tabpanel" style="height: 100%" class="tab-pane animated active"
                                        id="tab-edit-ticket">
                                        <div class="p-l-5 p-r-5 col-xs-12 col-sm-12 col-md-12">
                                            <label class="control-label f-20"><b><%- serviceName %></b></label>
                                        </div>
                                        <form role="form" id="frm-edit-ticket">
                                            <div id="ticket-info"></div>
                                            <input name="fcr" hidden type="number" value="0"
                                                id="frm-edit-ticket-fcr-value">
                                            <div class="p-l-5 p-r-5 p-t-30 col-xs-12 col-sm-12 col-md-12 text-center">

                                                <button type="reset" class="btn btn-default waves-effect"
                                                    id="cancelInput" name="cancelInput">
                                                    <i class="zmdi zmdi-arrow-left zmdi-hc-fw"></i>
                                                    Quay lại
                                                </button>

                                                <button type="button" class="btn btn-primary btn-save w-180"
                                                    data-target="#frm-edit-ticket" data-id="<%- currentTicket._id %>"
                                                    id="save-new-ticket" <%- isEdit %>>
                                                    <i class="zmdi zmdi-check-all m-r-5"></i>
                                                    <span class="TXT_SAVE_TICKET"></span>
                                                </button>
                                                <hr>
                                            </div>

                                            <div class="col-xs-2">
                                                <ul class="nav nav-tabs tabs-left">
                                                    <li class="active">
                                                        <a href="#current-history" data-toggle="tab"
                                                            class="TXT_TICKET_HISTORY"></a>
                                                    </li>
                                                    <li>
                                                        <a href="#current-callLogs" data-toggle="tab"
                                                            class="TXT_CALLLOGS"></a>
                                                    </li>
                                                    <li>
                                                        <a href="#current-survey" data-toggle="tab"
                                                            class="TXT_SURVEY"></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </form>

                                        <div class="col-xs-10">
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="current-history">
                                                    <div class="p-r-5 col-xs-12 col-sm-12 col-md-12">
                                                        <div id="edit-ticket-history" class="list-view">
                                                            <div class="ticket-history"></div>
                                                            <div class="paging-list"></div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="tab-pane" id="current-survey">
                                                    <form role="form" id="current-survey-form"></form>
                                                </div>

                                                <div class="tab-pane" id="current-callLogs">
                                                    <div class="p-r-5 col-xs-12 col-sm-12 col-md-12">
                                                        <div id="edit-ticket-callLogs" class="list-view">
                                                            <div class="ticket-call-logs"></div>
                                                            <div class="paging-list"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane animated" id="tab-old-ticket">
                                        <div class="left-side list-view view-detail">
                                            <div id="ticket-info"></div>
                                            <div class="paging-list"></div>
                                        </div>
                                        <div class="right-side p-8" style="height: 100%;">
                                            <div class="col-xs-2 p-0">
                                                <ul class="nav nav-tabs tabs-left">
                                                    <a class="btn btn-primary btn-xs btn-back m-b-10 btn-block w-p-95">
                                                        <i class="zmdi zmdi-arrow-back m-r-5"></i>Quay lại</a>
                                                    <li class="active">
                                                        <a href="#profile-v" data-toggle="tab" id="show-ticket-detail"
                                                            class="TXT_TICKET_DETAIL"></a>
                                                    </li>
                                                    <li>
                                                        <a href="#survey" data-toggle="tab"
                                                            class="survey TXT_SURVEY"></a>
                                                    </li>
                                                </ul>
                                            </div>

                                            <div class="col-xs-10 c-overflow">
                                                <div class="tab-content">
                                                    <div class="tab-pane active" id="profile-v">
                                                        <form role="form" id="frm-ticket-detail-crm">
                                                            <div class="p-l-5 p-r-5 col-xs-12 col-sm-12 col-md-12">
                                                                <label class="control-label f-20" id="title"></label>
                                                            </div>
                                                            <div class="" id="ticket-detail-properties"></div>

                                                            <div
                                                                class="p-l-5 p-r-5 p-t-30 col-xs-12 col-sm-12 col-md-12 text-center">
                                                                <button type="button"
                                                                    class="btn btn-primary btn-save w-180"
                                                                    data-target="#frm-ticket-detail-crm"
                                                                    id="save-ticket-detail-crm">
                                                                    <i class="zmdi zmdi-check-all m-r-5"></i>
                                                                    <span class="TXT_SAVE_TICKET_DETAIL"></span>
                                                                </button>
                                                                <hr>
                                                            </div>

                                                            <div class="p-l-5 p-r-5 col-xs-12 col-sm-12 col-md-12"
                                                                id="ticket-detail-history">
                                                                <label for="name"
                                                                    class="control-label f-13 TXT_TICKET_HISTORY"></label>
                                                                <div class="list-view" id="ticket-detail-list">
                                                                    <div id="ticket-list"></div>
                                                                    <div class="paging-list"></div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="tab-pane survey" id="survey">
                                                        <form role="form" id="detail-survey-form">
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading p-0">
                            <h5 class="panel-title">
                                <a class="btn-block p-10 bgm-orange c-white text-uppercase"
                                    style="text-align: center;">LỊCH SỬ HOẠT ĐỘNG CỦA KHÁCH HÀNG</a>
                            </h5>
                        </div>

                        <div>
                            <div class="panel-body p-0 c-overflow list-view view-detail">
                                <div id="frm-edit-ticket-customer">
                                    <%- zoka.showTicketListCustomerJourney(null, ticketCustomerJourney.ticket, true); %>
                                </div>
                                <div class="paging-list-customer">
                                    <%- zoka.createPaging(ticketCustomerJourney.paging); %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<!-- Modal Inline -->
<div class="modal fade popupModal" id="newComlaintPopup" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="width: 63%;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title f-12">TẠO MỚI KHIẾU NẠI</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div id="loaderIframeComplaint" class="box-loading" style="height:505px;display: block">
                        <div class="box-line-df"></div>
                        <div class="box-line-lgx"></div>
                        <div class="box-line-lg"></div>
                    </div>
                    <iframe id="new-complaint" src=""
                        style="height:505px;width:100%;border: 1px solid #dddddd;"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- edit -->
<div class="modal fade popupModal" id="editComlaintPopup" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="width: 63%;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title f-12">CHỈNH SỬA KHIẾU NẠI</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div id="loaderIframeComplaintEdit" class="box-loading" style="height:505px;display: block">
                        <div class="box-line-df"></div>
                        <div class="box-line-lgx"></div>
                        <div class="box-line-lg"></div>
                    </div>
                    <iframe id="edit-complaint" src=""
                        style="height:505px;width:100%;border: 1px solid #dddddd;"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Inline -->
<div class="modal fade popupModal " id="newAdvisoryPopup" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="width: 80%;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header ">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title f-12">TẠO MỚI TƯ VẤN</h4>
            </div>
            <div class="modal-body">

                <iframe id="new-advisory" src="" style="height:505px;width:100%;border: 1px solid #dddddd;"></iframe>
                <div id="loaderIframeAdvisory" class="box-loading" style="height:505px;display: block">
                    <div class="box-line-df"></div>
                    <div class="box-line-lgx"></div>
                    <div class="box-line-lg"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade popupModal " id="editAdvisoryPopup" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="width: 80%;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header ">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title f-12">CẬP NHẬT TƯ VẤN</h4>
            </div>
            <div class="modal-body">

                <iframe id="edit-advisory" src="" style="height:505px;width:100%;border: 1px solid #dddddd;"></iframe>
                <div id="loaderIframeAdvisoryEdit" class="box-loading" style="height:505px;display: block">
                    <div class="box-line-df"></div>
                    <div class="box-line-lgx"></div>
                    <div class="box-line-lg"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../include/address.ejs',{provinces:provinces, districts:true, customer:customer[0]}) %>