<script>
    var _idCustomer;
</script>
<% if (_idCustomer) { %>
<script>
    _idCustomer = JSON.parse('<%- JSON.stringify(_idCustomer) %>');
</script>
<% } %>

<div class="card">
    <div class="portlet-title">
        <div class="lv-header-alt clearfix">
            <h2 class="lvh-label hidden-xs">
                QUẢN LÝ PHIẾU TƯ VẤN
            </h2>
            <ul class="lv-actions actions">
                <!-- <li>
                    <a href="/#ticket-advisory/new" data-toggle="tooltip" data-placement="top" id="addTicketAdvisory"
                        data-original-title="Tạo mới">
                        <i class="zmdi zmdi-plus"></i>
                    </a>
                </li> -->
                <li>
                    <a data-toggle="tooltip" data-placement="top" data-original-title="Refresh" id="reload"><i
                            class="zmdi zmdi-refresh"></i></a>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>


        <div class="panel panel-default m-l-10 m-r-10">
            <div class="panel-heading p-0">
                <h5 class="panel-title">
                    <div data-id="showCustomer" class="btn-block p-10 bgm-orange c-white text-uppercase">Tra cứu</div>
                </h5>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in ticketCustomerCollapse">
                <form class="form-horizontal" role="form" id="form-filter">
                    <div class="form-body">
                        <div class="row m-0 p-10" style="display: flex;">
                            <!-- <div class="col-md-3 m-b-20">
                                    <label class="control-label f-13">
                                        <span>Từ ngày</span>
                                    </label>
                                    <div class="input-group">
                                        <input type="text"
                                            class="form-control pull-right search-field date-picker filter-campain input"
                                            id="startDate" name="startDate" placeholder="VD: 01/01/2019"
                                            data-date-format="DD/MM/YYYY" autocomplete="false">
                                        <span class="input-group-addon p-l-10 bgm-gray c-white">
                                            <i role="button" class="zmdi zmdi-calendar"></i>
                                        </span>
                                    </div>
                                </div>

                                <div class="col-md-3 m-b-20">
                                    <label class="control-label f-13">
                                        <span>Đến ngày</span>
                                    </label>

                                    <div class="input-group">
                                        <input type="text"
                                            class="form-control pull-right search-field date-picker filter-campain input validate[required]"
                                            id="endDate" name="endDate" placeholder="VD: 01/01/2019"
                                            data-date-format="DD/MM/YYYY" autocomplete="false">
                                        <span class="input-group-addon p-l-10 bgm-gray c-white">
                                            <i role="button" class="zmdi zmdi-calendar"></i>
                                        </span>
                                    </div>
                                </div> -->


                            <div class="col-md-3 m-b-20">
                                <label for="created" class="control-label f-13"><span>Thời gian tạo
                                        phiếu</span></label>
                                <div class="input-group">
                                    <input type="text"
                                        class="form-control pull-right search-field multi-date-picker filter-campain input"
                                        id="created" name="created" placeholder=" VD: 01/01/2020">
                                    <span class="input-group-addon p-l-10 bgm-gray c-white"><i role="button"
                                            class="zmdi zmdi-calendar"></i></span>
                                </div>
                            </div>






                            <div class="col-md-3 m-b-20">
                                <label for="advisoryTypeId" class="control-label f-13"><span>Loại tư
                                        vấn</span></label>
                                <select name="advisoryTypeId" id="advisoryTypeId" multiple data-actions-box="true"
                                    class="selectpicker search-field input" data-live-search="true" title="---Chọn---"
                                    mul>
                                    <% _.each(advisoryCategory,function(el){%>
                                    <option value='<%= el._id%>'><%= el.nameAdvice%>
                                    </option>
                                    <%})%>
                                </select>
                            </div>
                            <div class="col-md-3 m-b-20">
                                <label for="phoneNumber" class="control-label f-13"><span>Số điện thoại
                                        KH</span></label>
                                <input name="phoneNumber" id="phoneNumber" type="text"
                                    class="form-control search-field input" value="">
                            </div>

                            <div class="col-md-3 m-b-20" id="khachhang">
                                <label for="customerName" class="control-label f-13"><span>Khách hàng</span></label>
                                <input name="customerName" id="customerName" type="text"
                                    class="form-control search-field input" value="">
                            </div>

                            <div class="col-md-3 m-b-20">
                                <label for="idAgent" class="control-label f-13"><span>Agent</span></label>
                                <select name="idAgent" id="idAgent" class="selectpicker search-field input" multiple
                                    data-actions-box="true" data-live-search="true" title="---Chọn---" mul>
                                    <% _.each(agent,function (el) { %>
                                    <option value="<%- el._id %>"><%- el.displayName %></option>
                                    <%})%>
                                </select>
                            </div>
                            <div class="col-md-3 m-b-20">
                                <label for="content" class="control-label f-13"><span>Nội dung tư vấn</span></label>
                                <input name="content" id="customerName" type="text"
                                    class="form-control search-field input" value="">

                            </div>


                        </div>
                        <div class="row m-0">
                            <div class="col-md-5"></div>
                            <div class="col-md-2 m-b-20">
                                <div class="btn-group btn-group btn-group-justified">
                                    <a type="" id='searchAdvisoryTicket' class="btn bgm-blue uppercase c-white"
                                        style="width:auto">
                                        <i class="fa fa-search m-r-10"></i>
                                        <strong>Tra cứu</strong></a>
                                </div>
                            </div>
                            <div class="col-md-5"></div>
                        </div>
                    </div>
                </form>

            </div>
        </div>





    </div>
    <div class="row m-t-10 m-r-20 text-right">

        <button class="btn btn-sm btn-primary" id="btn-new-Advisory" data-toggle="modal"
            data-target="#newAdvisoryPopup"><i class="fa fa-plus"></i> Tạo mới tư vấn</button>


        <button class="btn btn-sm btn-primary" id="btn-addTicketAdvisory"> <a
                href="/#ticket-advisory/new<%- (_idCustomer)? '?idCustomer='+_idCustomer : '' %>" data-toggle="tooltip"
                class="c-white" data-placement="top" id="addTicketAdvisory" data-original-title="Tạo mới"><i
                    class="fa fa-plus m-r-5"></i>Tạo mới tư vấn </a></button>
    </div>
    <div class="div_table p-10">
        <table class="table table-hover table-condensed table-bordered table-fix table-striped" id="exceldata">
            <thead id="thead-table">
                <tr>
                    <th class="bgm-orange c-white text-center"><span class="TXT_ADVISORY_TYPE"></span></th>
                    <th class="bgm-orange c-white text-center"><span class="TXT_ADVISORY_CONTENT"></span></th>
                    <th class="bgm-orange c-white text-center"><span class="TXT_CUSTOMER"></span></th>
                    <th class="bgm-orange c-white text-center"><span class="TXT_PHONENUMBER"></span></th>
                    <th class="bgm-orange c-white text-center"><span class="TXT_AGENT"></span></th>
                    <th class="bgm-orange c-white text-center"><span class="TXT_CREATED_TIME"></span></th>
                    <th class="bgm-orange c-white text-center"><span class="TXT_OPTION"></span></th>
                </tr>
            </thead>

            <tbody id="body-table">
            </tbody>
        </table>

        <div class="text-center m-t-10" id="totalAdvisory"></div>
        <div class="text-center" id="pagingAdvisory"></div>
    </div>
</div>